{% extends "base-add-pedido.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}Devolucion de Medicamentos Vencidos{% endblock %}

{% block more-crumbs %}
    <li class="active">Devolucion de medicamentos vencidos</li>
{% endblock %}

{% block panel-title-pedido %}
	Devolucion de medicamentos vencidos
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
	{{ form.media.js }}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/devolucionvencidos.html' %}");
            }
        });
    </script>
{% endblock %}

