{% extends "base-presentacion-pedido.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Devolucion de medicamentos{% endblock %}

{% block panel-heading-right %}
{% endblock %}

{% block tipo-pedido %} Devolucion de medicamentos {% endblock %}

{% block nombre-organizacion %} {{ laboratorio.razonSocial }} {% endblock %}

{% block fecha-pedido %} {% endblock %}

{% block etiqueta-Numero-Y-fecha %}{% endblock %}

{% block nro-pedido %}{% endblock %}

{% block grid %}
    <table class="table table-condensed table-responsive" >
        <thead>
            <tr class="info" align="center">
                <th>Lote</th>
                <th>Medicamento</th>
                <th>Fecha de vencimiento</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for lote in lotes%}
                <tr class="clickeable">
                    <td>{{ lote.numero}}</td>
                    <td>{{ lote.medicamento}}</td>
                    <td>{{ lote.fechaVencimiento }}</td>
                    <td>{{ lote.stock}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panel-footer %}
    <div class="panel-footer">
        <div class="pull-right">
            <a id="btn-registrar" href= {% url "devolucionMedicamentosVencidos_registrar" laboratorio.id %} class="btn btn-primary">Registrar</a>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block url-pdf %}#{% endblock %}

