{% extends "base-remito.html" %}

{% block cliente %}Cliente: {{ remito.laboratorio}}{% endblock %}
{% block direccion %}Direccion: {{ remito.laboratorio.direccion }}{% endblock %}

{% block grid %}
    <thead>
       <tr class="info" align="center">
          <th>Medicamento</th>
          <th>Lote</th>
          <th>Cantidad</th>
       </tr>
    </thead>
    <tbody>
       {% for detalle in detallesRemito %}
          <tr class="col-items">
             <td class="nombre-med">{{ detalle.medicamento }}</td>
             <td class="lote-med">{{ detalle.lote }}</td>
             <td class="cant-med">{{ detalle.cantidad }}</td>
          </tr>
       {% endfor %}
    </tbody>
{% endblock %}