{% extends "base/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
	<style>
		.panel-add-pedido{
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .panel-add-pedido .panel-body{
            padding: 0px;
        }

        .panel-add-pedido .panel-body .well-lg{
            border-radius: 0px;
        }

        .panel-add-pedido .panel-body .well{
            margin-bottom: 0px;
        }

        .form-cabezera {
            overflow:hidden;
        }
	</style>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block title %}
{% endblock %}

{% block breadcrumb-items %}
{% endblock %}

{% block header-title %}{% endblock%}

{% block url-volver %}{% endblock %}

{% block content %}
    <div class="container">
		<div class="col-xs-12 col-md-offset-2 col-md-8 panel-add-pedido">
			{% block panel %}    
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block panel-title-pedido %}{% endblock %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="well well-lg">
                            <div class="form-cabezera">
                                {% block form-pedido %}
                                    {% crispy form %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {% block footer %}
                        <div class="panel-footer">
                            <button id="btn-enviar-form" class="btn btn-success pull-right" type="submit">
                                Crear Pedido
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
         $(document).ready(function(){
            $("#btn-enviar-form").click(function(e){
                $("#form-pedido").submit();
            });
         });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
