{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
	<style>
		.panel-cabezera{
            margin-top: 20px;
            margin-bottom: 20px;
        }
	</style>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<!-- Cabezera del pedido -->
	<div class="container panel-cabezera">
		<div class="col-xs-12 col-md-offset-2 col-md-8">
			<div class="panel panel-primary">
					<div class="panel-heading">
                        <h3 class="panel-title">
                            {% block panel-title-pedido %}{% endblock %}
                        </h3>
					</div>
					<div class="panel-body">
						<div class="form-cabezera">
							{% block form-pedido %}
                                {% crispy form %}
							{% endblock %}
						</div>
					</div><!-- end panel-body -->
                <div class="panel-footer">
                    <button id="btn-enviar-form" class="btn btn-success pull-right" type="submit">
                        Crear Pedido
                    </button>
                    <div class="clearfix"></div>
                </div>
					<!--<div class="panel-footer"></div>--> <!-- end panel-footer -->
			</div><!-- end panel -->
		</div><!-- end col-md ... -->
	</div><!-- end container ...-->
	<!-- end cabezera del pedido-->

{% endblock %}

{% block scripts %}
    <script>
         $(document).ready(function(){
            $("#btn-enviar-form").click(function(e){
                $("#form-pedido").submit();
            });
         });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
