{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<!-- Cabezera del pedido -->
	<div class="container panel-cabezera">
		<div class="col-xs-12 col-md-offset-2 col-md-8">
			<div class="panel panel-primary">
					<div class="panel-heading">
                        <h3 class="panel-title">
                            {% block panel-title-pedido %}{% endblock %}
                        </h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8">
								<img class="img-resonsive" src="{% static 'images/logo-pedido.jpg' %}" alt="Logo">
							</div>
							<div class="col-xs-12 col-md-offset-1 col-md-3">
								{% block panel-body-pedido-datos %}
									<p>Nº pedido: <span>#1{{ nro_pedido }}</span></p>
									<br />
									<p>{{ fecha_pedido|date:"d/m/Y" }}</p>
								{% endblock %}
							</div>
							<div class="clearfix"></div>
						</div> <!-- end row -->
						<div class="form-cabezera">
							{% block form-pedido %}
                                <form id="form-pedido" class="form-horizontal" action="{% block form-action %}{% endblock %}" method="POST">
                                    {% csrf_token %}
                                    {% include "forms/form_snippet2.html" %}
                                </form>
							{% endblock %}
						</div>
					</div><!-- end panel-body -->
                <div class="panel-footer">
                    <button id="btn-enviar-form" class="btn btn-success pull-right" type="submit">
                        Crear Pedido
                    </button>
                    <div class="clearfix"></div>
                </div>
					<!--<div class="panel-footer"></div>--> <!-- end panel-footer -->
			</div><!-- end panel -->
		</div><!-- end col-md ... -->
	</div><!-- end container ...-->
	<!-- end cabezera del pedido-->

{% endblock %}

{% block scripts %}
    <script>
         $(document).ready(function(){
            $("#btn-enviar-form").click(function(e){
            $("#form-pedido").submit();
            });
         });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}