{% extends "base-ABM.html "%}

{% load staticfiles %}

{% block more-stylesheets %}
    <style>
        .panel-detalle{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        tbody tr{
	        cursor: pointer;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Detalles Pedido de Farmacia</title>
{% endblock %}

{% block ancho-panel %}col-md-offset-2 col-md-8{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Detalles del pedido</h3>
{% endblock %}

{% block url-add %}{% url 'addDetallesPedidoFarmacia' id_pedido %}{% endblock %}

<!--Sobreescribo bloque xq no necesito un boton de modificar -->
{% block btn-modificacion %}{% endblock %}

{% block grid %}
    <table class="table table-condensed table-responsive" >
        <thead>
            <tr class="info" align="center">
                <th>Medicamento</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                <tr class="clickeable" data-id="{{ detalle.renglon }}">
                    <td>{{ detalle.medicamento }}</td>
                     <td>{{ detalle.cantidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

<!-- Sobreescribo bloque xq (por ahora) no necesito un formulario de busqueda -->
{% block form-busqueda %}{% endblock %}

{% block panel-footer %}
    <div class="panel-footer">
        <button class="btn btn-success pull-right">Guardar Pedido</button>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar detalle del Pedido de Farmacia </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> El detalle seleccionado se eliminara permanentemente -Esta seguro- </p>
{% endblock %}

{% block more-scripts %}
<script>
    $(document).ready(function(){
        $("#baja").click(function(e) {
            var id = get_selected_row();
            if(id){
               crear_baja("/pedidoDeFarmacia/{{ id_pedido }}/detalles/delete/", id);
            }
            e.stopPropagation();
        });
    });
</script>
{% endblock %}

