{% extends "base/base.html" %}
{% load staticfiles %}

{% block no-header-css %} {% endblock %}

{% block title %}
	Farma S.R.L
{% endblock %}

{% block no-header %} {% endblock %}

{% block content %}
	{% include 'inicio/carousel.html' %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                url = "{% static 'documentacion/build/html/index.html' %}"
                window.open(url);
            }
        });
    </script>
{% endblock %}
