{% load staticfiles %}

<nav class="navbar navbar-default navbar-principal">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img alt="Brand" src="{% static 'images/logopequeno.png'%}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if perms.pedidos.add_pedidodefarmacia %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'pedidosDeFarmacia' %}">Pedidos de Farmacia</a></li>
                            <li><a href="{% url 'pedidosDeClinica' %}">Pedidos de Clinica</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'pedidosAlaboratorio' %}">Pedidos a Laboratorio</a></li>
                            <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Registrar Recepcion de Pedido de Laboratorio</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'devolucionMedicamentosVencidos' %}">Registrar Devolución de Medicamentos Vencidos</a></li>
                            <li><a href="{% url 'recepcionReemplazoMedicamentos' %}">Registrar Recepción de Medicamentos para Reemplazar Vencidos</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if perms.usuarios.encargado_general %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'farmacias' %}">Farmacias</a></li>
                        <li><a href="{% url 'laboratorios' %}">Laboratorios</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'paginaEnConstruccion' %}">Obras Sociales</a></li>
                        <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicamentos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'medicamentos' %}">Medicamentos </a></li>
                        <li><a href="{% url 'monodrogas' %}">Monodrogas</a></li>
                        <li><a href="{% url 'presentaciones' %}">Presentaciones</a></li>
                        <li><a href="{% url 'nombresFantasia' %}">Nombres Fantasia </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        {% if perms.usuarios.encargado_general %}
                            <li><a href="{% url 'usuario_add' %}">Agregar Usuario</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}" class="navbar-link">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>