{% load staticfiles %}

<nav id="navbar-principal" class="navbar navbar-default navbar-principal">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img alt="Brand" src="{% static 'images/logopequeno2.png' %}" style="width: 95%; height: 95%;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'pedidosDeFarmacia' %}">Pedidos de Farmacia</a></li>
                            <li><a href="{% url 'pedidosDeClinica' %}">Pedidos de Clinica</a></li>
                            <li><a href="{% url 'pedidosAlaboratorio' %}">Pedidos a Laboratorio</a></li>
                            {% if perms.usuarios.encargado_stock %}
                                <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepcion de Pedido de Laboratorio</a></li>
                            {% endif %}
                            {% if perms.usuarios.encargado_medicamentos_vencidos %} 
                                <li><a href="{% url 'devolucionMedicamentosVencidos' %}">Registrar Devolución de Medicamentos Vencidos</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizaciones <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'farmacias' %}">Farmacias</a></li>
                            <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
                            <li><a href="{% url 'laboratorios' %}">Laboratorios</a></li>
                            <li><a href="{% url 'obrasSociales' %}">Obras Sociales</a></li>
                        </ul>
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicamentos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'medicamentos' %}">Medicamentos </a></li>
                        <li><a href="{% url 'monodrogas' %}">Monodrogas</a></li>
                        <li><a href="{% url 'presentaciones' %}">Presentaciones</a></li>
                        <li><a href="{% url 'nombresFantasia' %}">Nombres Fantasia </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">      
                <li>
                    <a alt="Ayuda" href="{% static 'documentacion/build/html/index.html' %}" target="_blank">Ayuda</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="top:2px;"class="glyphicon glyphicon-user"></span> {{ user.get_username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if perms.usuarios.encargado_general %}
                            <li><a href="{% url 'usuario_add' %}">Agregar Usuario</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>