{% extends "base/base.html" %}
{% load staticfiles %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base-listado.css' %}">
{% endblock %}

{% block title %}{% endblock %}

{% block url-volver %} {% url 'inicio' %}{% endblock %}

{% block content %}
	<div class="container-fluid container-main">
		<div class="row">
	        <aside id="aside" class="aside col-md-3 hidden-xs hidden-sm">
	            <form id="form-busqueda" class="form-busqueda" action="">
	                <div class="form-simple">
	                    <button type="submit" class="btn-form-simple"><span class="glyphicon glyphicon-search"></span></button>
	                	{% block form-field-simple %} {% endblock %}
	                </div>
	                {% block form-sin-busqueda-avanzada %}
	                	<div class="form-avanzado">
		                	{% block form-fields-avanzados %} {% endblock %}
						    <button class="btn btn-default button-hover btn-form-avanzado" type="submit">Buscar</button>
		                </div>
                        <div class="form-controls">
                            <a class="btn-form-limpiar" href="#"><span class="glyphicon glyphicon-trash"></span> Limpiar</a>
                            <div class="form-toggle">
                                <a class="btn-form-toggle" href="#"><span class="glyphicon glyphicon-triangle-right"></span><span class="txt-toggle">Búsqueda Avanzada</span></a>
                            </div>
                        </div>
	                {% endblock %}
	            </form>
	        </aside>
	        <section id="section-table" class="col-md-9 section-table">
	            <div class="header-tabla">
	                <h3 class="header-tabla-title"><span class="glyphicon glyphicon-th-list"></span> Listado</h3>
					{% block sin-botones-header-tabla %}
						<div class="header-tabla-botones pull-right">
							{% block botones-header-tabla %} {% endblock %}
						</div>
					{% endblock %}
	            </div>
	            <div id="table-responsive" class="table-responsive">
	            	<table class="table table-striped">
	            		{% block tabla %}
						{% endblock %}
	            	</table>
	                {% if estadisticas.total == 0 or estadisticas.filtrados == 0 %}
		                <div id="table-empty" class="table-empty">                	
		                	<h3 class="table-empty-title"> <span class="glyphicon glyphicon-exclamation-sign"></span> 
		                		{% if estadisticas.total == 0 %}
		                			La tabla esta vacia.
		                		{% else %}
		                			No se encontraron resultados
		                		{% endif %}
		                	</h3>
	                        <em class="table-empty-msg">
	                        	{% block table-empty-msg %}
									{% if estadisticas.total == 0 %}
		                        		Puedes agregar datos presionando el botón de alta.
		                        	{% else %}
		                        		Intente cambiar los parámetros de búsqueda.
		                        	{% endif %}
	                        	{% endblock %}
                            </em>
		                </div>
	                {% endif %}
	            </div> 
	        </section>
	    </div>
	    <div class="table-count">
			<p>
				<span class="table-count-icon glyphicon glyphicon-info-sign"></span>
                <span>
                    {% if estadisticas.total == 0%}
                        No hay datos
                    {% else %}
                        {{ estadisticas.filtrados }}
                        {% if estadisticas.filtrados == 1 %}
                            resultado
                        {% else %}
                            resultados
                        {% endif %}
                         - Total: {{estadisticas.total}}
                    {% endif %}
                </span>
			</p>
		</div>
	</div>
	
	{% block sin-modal-eliminar %}
		<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog modal-sm" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">{% block modal-eliminar-titulo%}{% endblock %}</h4>
		            </div>
		            <div class="modal-body">
		               <p>{% block modal-eliminar-mensaje %}{% endblock %}</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		                <a class="btn btn-danger confirmar">Confirmar</a>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="modal fade" id="modal-fallo-eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">Informe Falla Eliminación</h4>
		            </div>
		            <div class="modal-body">
		               <div class="container-fluid">
		               		<div class="row">
		               			<div class="col-xs-12">
		               				{% block mensaje-fallo-eliminacion %}{% endblock %}
		               				<ul class="informe"></ul>
		               			</div>
		               		</div>

		               </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		            </div>
		        </div>
		    </div>
		</div>

	{% endblock %}

	{% block more-content %}
	{% endblock %}
	
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/datepicker.js' %}"></script>
	<script>

		(function(){
			var formBusqueda = {
			    getElements: function() {
			        this.$form = $('#form-busqueda');
			        this.$formSimple = this.$form.find('.form-simple');
			        this.$formSimpleField = this.$formSimple.find('.form-field');
			        this.$btnFormSimple = this.$formSimple.find('.btn-form-simple');
			        this.$formAvanzado = this.$form.find('.form-avanzado');
			        this.$formAvanzadoFields = this.$formAvanzado.find('.form-field');
			        this.$btnFormAvanzado = this.$formAvanzado.find('.btn-form-avanzado');
			        this.$btnFormToggle = this.$form.find('.btn-form-toggle');
			        this.$btnFormLimpiar = this.$form.find('.btn-form-limpiar');
			    },
			    bindEvents: function() {
			        this.$btnFormToggle.on('click', this.formToggle.bind(this));
			        this.$form.on('submit', this.sendForm.bind(this));
			        this.$btnFormLimpiar.on('click', this.cleanFilters.bind(this));
			    },
			    init: function() {
			        this.getElements();
			        this.bindEvents();
			    },
			    formToggle: function(e) {
			        var $txtToggle = this.$btnFormToggle.find('.txt-toggle');
			        this.$form.toggleClass('form-is-avanzado');
			        this.$formSimpleField.toggleClass('form-field-simple');
			        this.$btnFormSimple.toggleClass('slide-out');
			        this.$formAvanzado.slideToggle(500);
			        if (this.$form.hasClass('form-is-avanzado')) {
			            $txtToggle.text($txtToggle.text().replace('Avanzada', 'Simple'));
			        } else {
			            $txtToggle.text($txtToggle.text().replace('Simple', 'Avanzada'));
			        }
			        e.preventDefault();
			    },
			    sendForm: function(e) {
			    	if(this.$form.hasClass('form-is-avanzado')){
			    		var $fieldsDate = this.$formAvanzadoFields.filter('.datepicker'),
			    		regex = /^$|^(\d){2}\/(\d){2}\/(\d){4}$/,
			    		msgError = '<span style="margin-top:-5px;" class=\"help-block\"><strong>Ingrese una fecha válida. </strong></span>';
				    	$fieldsDate.each(function(i, el){
				    		$el = $(el);
				    		$parent = $el.parent();
				    		if(! regex.test($el.val())){
								if(! $parent.hasClass('has-error')){
									$parent.addClass('has-error').append(msgError)
								}
				    			e.preventDefault();
				    		}else{
				    			if($parent.hasClass('has-error')) {
				    				$parent.removeClass('has-error').find('span').remove();

				    			}
				    		}

				    	});
			    	}else{
			    		this.$formAvanzadoFields.each(function() {
			                $(this).val('');
			            });
			    	}
			    }, 
			    cleanFilters: function() {
			        this.$formSimpleField.val('');
			        this.$formAvanzadoFields.val('');
			        this.$form.submit();
			    }
			},
			main = {
				getElements: function() {
					this.$bread = $('#breadcrumb-page');
					this.$header = $('#header-page');
					this.$containerMain = $('.container-main');
					this.$containerTable = $('#table-responsive');
					this.$nav = $('#navbar-principal');
					this.$footer = $('#footer-page');
					this.$modalEliminar = $('#modal-eliminar');
					this.$modalFalloEliminar = $('#modal-fallo-eliminar');
				},
				bindEvents: function() {
					$(window).on('resize', this.heightTable.bind(this));
					$('.btn-eliminar').on('click', this.openModalBaja.bind(this));
					$('.btn-eliminar-ajax').on('click', this.tryDelete.bind(this));
				},
				init: function() {
					this.getElements();
					this.bindEvents();
					this.heightTable();
					formBusqueda.init();
				},
				heightTable: function(e) {
					/*la tenes adentro $(window).height()*/
					var totalHeight = window.innerHeight - this.$bread.outerHeight(true) - this.$header.outerHeight(true) - (this.$containerMain.outerHeight(true) - this.$containerTable.outerHeight(true)) - this.$nav.outerHeight(true) -  this.$footer.outerHeight(true) - 10,
						$tableEmpty = $('#table-empty');

					if($tableEmpty.length) {
						$tableEmpty.css('height', (totalHeight - this.$containerTable.find('table').outerHeight(true) - 2) + 'px');

					}else{
						this.$containerTable.css('height', totalHeight + 'px');
					}
					console.log($(window).height());
					console.log(this.$footer.outerHeight(true));
					console.log(this.$bread.outerHeight(true));
					console.log(this.$header.outerHeight(true));
					console.log(this.$containerMain.outerHeight(true) - this.$containerTable.outerHeight(true));
					console.log(this.$nav.outerHeight(true));
					console.log(this.$footer.outerHeight(true));
				},
				openModalBaja: function(e) {
					var url = $(e.target).data('url');
					this.$modalEliminar.find('.confirmar').attr('href', url)
					this.$modalEliminar.modal('show');
					e.stopPropagation();
				},
				tryDelete: function(e) {
					var urlBaja = $(e.target).data('url-ajax'),
						that = this;
					$.ajax({
			            type: 'GET',
			            url: urlBaja,
			            dataType: 'json',
			            success: function(data){
			                if(data && ! data['success']) {
			                    var msgInforme = data['informe'],
			                    items = msgInforme.split(';'),
			                    itemsList = '',
			                    i, max;
			                    for(i = 0, max = items.length; i < max ; i += 1){
			                    	if(items[i].length > 0){
			                    		itemsList += '<li>' + items[i] + '</li>';
			                    	}			                    	
			                    }
			                    that.$modalFalloEliminar.find('.informe').html(itemsList);
			                    that.$modalFalloEliminar.modal('show');
			                } else {
			                	var url = $(e.target).data('url');
			                	that.$modalEliminar.find('.confirmar').attr('href', url);
								that.$modalEliminar.modal('show');
			                }
			            },
			            error: function(err){
			                alert("Fallo Ajax");
			            },
			        });
				}
			}

			main.init();
		})();
	</script>
    {% block more-scripts %}{% endblock %}
{% endblock %}