{% extends "base/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/base-ABM.css' %}">
    {% block more-stylesheets %}
    {% endblock %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% block breadcrumbs %}
        <ol id="breadcrumb-page" class="breadcrumb _breadcrumb_">
           <li><a href="{% url 'inicio' %}">Inicio</a></li>
           {% block more-crumbs %}{% endblock %}
        </ol>
    {% endblock %}
    <div class="container-fluid panel-grid">
        <div class="col-xs-12 {% block ancho-panel %}{% endblock %}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">
                            {% block panel-title-ABM %}
                            {% endblock %}
                        </h3>
                    </div>
                    <div class="btn-group btn-group-xs pull-right">
                        {% block btn-alta %}
                        <a class="btn btn-success" href="{% block url-add %}{% endblock %}" id="alta">
                            <span class="glyphicon glyphicon-plus"></span>  Alta
                        </a>
                        {% endblock %}
                        {% block btn-modificar %}
                            <a class="btn btn-warning hidden ocultable" id="modificar">
                                <span class="glyphicon glyphicon-edit"></span>  Modificación
                            </a>
                        {% endblock %}
                        {% block btn-baja %}
                            <a class="btn btn-danger hidden ocultable" id="baja">
                                <span class="glyphicon glyphicon-minus"></span>  Baja
                            </a>
                        {% endblock %}
                        {% block more-buttons %}
                        {% endblock %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {% block form-busqueda %}
                        <form method="GET" class="form-inline pull-right">
                            <div class="form-group">
                                {%block filtro %}
                                    <label>Buscar:</label>
                                    <input class="filtro" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder=" Razon Social" >
                                    <input class="filtro" id="localidad" name="localidad" value="{{filtros.localidad}}" placeholder="Localidad" >
                                    <button class="btn btn-danger btn-sm" type="submit" value="Filtrar" id="btn-filtrar">Filtrar</button>
                                    <button class="btn btn-primary btn-sm" type="button"  id="btn-limpiar">Limpiar</button>
                                {% endblock %}
                            </div>
                        </form>
                    {% endblock %}
                    {% block grid %}
                    {% endblock %}
                </div>
                <div class="panel-footer">
                    <span class="text-left text-info" style="font-family: 'sans, sans-serif'; font-size: 16px;">
                        {% block cantidad-elementos %}{% endblock %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    {% block modal-baja %}
    <div class="modal fade" id="modal-baja" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% block modal-baja-title %}{% endblock %}
                </div>
                <div class="modal-body">
                    {% block modal-baja-texto %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary confirmar">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block more-content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        $(function() {
            var $botones = $(".panel-heading a.ocultable"),
                limpiar = function (e) {
                    $("tr").removeClass("active");
                    $botones.addClass('hidden');
                };

           /*************EVENTOS***************/

            $(document).on("click", limpiar);

            $(document).on("keyup", function(e){
                // tecla ESC == 27
                if(e.keyCode == 27){
                    limpiar();
                }
            });

            $("#alta").on("click", function(e){
                e.stopPropagation();
            });

            $(".clickeable").on("click", function(e) {
                select_row_table(this);
                $botones.removeClass('hidden');
                e.stopPropagation();
            });

            $(".filtro").on("change", function(e) {
                $(this).closest("form").submit();
            });

            $("#selectEstado").on("change", function() {
                $("#btn-filtrar").click();
            });

            $("#btn-limpiar").on("click", function(e){
                $("form input").val("");
                e.stopPropagation();
            });
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}

