{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.custom.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}Control de Detalle de Recepcion{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepción de Pedidos a Laboratorio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio_cargarPedido' pedido.pk %}">Alta de Recepción</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio_controlPedido' pedido.pk %}">Detalles de Recepción</a></li>
    <li class="active">Control de Detalle</li>
{% endblock %}

{% block url-volver %}{% url 'recepcionPedidoAlaboratorio_controlPedido' pedido.pk %}{% endblock %}

{% block header-title %}Control de Detalle de Recepcion{% endblock %}

{% block title-header-form %}Acusar recibo del detalle{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-pencil page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Complete los siguientes campos
    {% if btnNuevoLote %}
        <a class="pull-right " href="{% url 'recepcionPedidoAlaboratorio_controlDetalleConNuevoLote' pedido.pk detalle.renglon %}">+ Nuevo Lote</a>
    {% else %}
        {% if existenLotes %}
            <a class="pull-right" href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.pk detalle.renglon %}">- Sin Nuevo Lote</a>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>
{% endblock %}

{% block no-msg-success %}
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/receppedidosdelab.html' %}";
                url += "#acusar-recepcion-de-un-detalle";
                window.open(url);
            }
        });
    </script>
{% endblock %}