{% extends "base-presentacion-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
	<link rel="stylesheet" href="{% static 'css/table-farma.css' %}">
	<style>
		.table-farma__title span{
			color: rgb(219, 119, 89);
			font-size: 90%;
		}

		.u-no-margin{
			margin: 0;
		}

		.u-margin-top-long{
		    margin-top: 3rem;
		}

		.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	</style>
{% endblock %}

{% block title %}Detalles Recepcion de Pedido a Laboratorio{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepción de Pedidos a Laboratorio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio_cargarPedido' pedido.pk %}">Alta de Recepción</a></li>
    <li class="active">Detalles</li>
{% endblock %}

{% block header-title %} Detalles Recepción de Pedido a Laboratorio {% endblock%}

{% block url-volver %}{% url 'recepcionPedidoAlaboratorio_cargarPedido' pedido.pk %}{% endblock %}

{% block tipo-pedido %}Pedido a Laboratorio{% endblock %}

{% block pedido-organizacion %}{{pedido.laboratorio.razonSocial}}{% endblock %}

{% block nro-pedido %} {{ pedido.nroPedido }} {% endblock %}

{% block table %}
	<table class="table table-condensed table-striped" >
        <thead>
            <tr>
                <th>Renglón</th>
                <th>Medicamento</th>
                <th>Cantidad</th>
                <th>Pendiente de entrega</th>
                <th>Acusar recepción</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                <tr class="" data-id="{{ detalle.renglon }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ detalle.medicamento.descripcion }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.cantidadPendiente }}</td>
                    <td class="action">
                        {% if detalle.cantidadPendiente == 0 %}
                            <a href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.nroPedido detalle.renglon %}" class="table-farma__button text-center disabled" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% else %}
                            <a href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.nroPedido detalle.renglon %}" class="table-farma__button text-center">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block btn-registrar %}
	<a href="{% url 'recepcionPedidoAlaboratorio_registrar' pedido.nroPedido %}" class="btn btn-primary">Registrar</a>
{% endblock %}

{% block more-content %}
	{% if modalError %}
		<div id="modal-error" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Recepcion de pedido</h3>
					</div>
					<div class="modal-body">
						<p class="text-center text-danger"><span class="glyphicon glyphicon-ok"></span> Debe acusar recibo de al menos un detalle</p>
					</div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-sin-remito" data-dismiss="modal">Ok</button>
                    </div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if modalSuccess %}
		<div id="modal-success" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Recepcion de pedido</h3>
					</div>
					<div class="modal-body">
						<p class="text-center text-success"><span class="glyphicon glyphicon-ok"></span>  El pedido fue registrado correctamente!</p>
					</div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-sin-remito" data-dismiss="modal">Ok</button>
                    </div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block scripts-abm-detalles%}{% endblock%}
{% block more-scripts %}
	<script>
		(function($){
			{% if modalError %}
				$('#modal-error').modal('show');
			{% endif %}

			{% if modalSuccess %}
				var $modalSuccess = $('#modal-success');
				$modalSuccess.modal('show');

				$modalSuccess.on('hidden.bs.modal', function (e) {
					window.location = "{% url 'recepcionPedidoAlaboratorio' %}";
                	e.stopPropagation();
				})
			{% endif %}
		})(jQuery);

		$(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/receppedidosdelab.html' %}";
                url += "#registrar-recepcion";
                window.open(url);
            }
        });
	</script>
{% endblock %}