{% extends "base-add-pedido.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.custom.min.css' %}">
<style>
	.header {
		background-color: rgb(19, 43, 60);
		color: #D0D0D0;
	}

	.header h1 {
		display: inline-block;
		margin: 0;
		padding: 2rem 0;
	}

	.btn-volver {
		position: absolute;
		bottom: 0; right: 15px;
		padding: 0.5rem 1rem;
		border: 1px solid rgb(219,119,89);
		border-radius: 5px;
		color: rgb(219,119,89);
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
	}

	.btn-volver:hover {
		background-color: rgb(219,119,89);
		color: #FFF;
	}

	.panel-form {
		margin-top: 3rem;
		padding: 2rem;
		background-color: rgb(237,239,241);
		border: 1px solid #DDD;
	}

	.container-btn-volver {
		position: relative;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.form{
		overflow: hidden;
	}

	.ocultable {
		display: none;
	}
</style>
{% endblock %}

{% block title %}Control de Detalle de Pedido{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepcion de pedidos de laboratorio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio_controlPedido' pedido.nroPedido %}">Control del pedido</a></li>
    <li class="active">Control de detalle</li>
{% endblock %}

{% block panel-title-pedido %}
	Control Detalle Nº {{detalle.renglon}}
{% endblock %}

{% block form-pedido %}
    {% if btnNuevoLote %}
        <a class="pull-right "href="{% url 'recepcionPedidoAlaboratorio_controlDetalleConNuevoLote' pedido.numero detalle.renglon %}">+ Nuevo Lote</a>
    {% else %}
        {% if existenLotes %}
            <a class="pull-right "href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.numero detalle.renglon %}">- Sin Nuevo Lote</a>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>
    {% crispy form %}
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
	<script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
{% endblock %}