{% extends "base/base.html" %}
{% load staticfiles %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{% static 'css/table-farma.css' %}">
	<style>
		body{
		    background-color: rgb(237,239,241);
		}
		.header {
			background-color: rgb(19, 43, 60);
			color: #D0D0D0;
		}
		.header h1{
			margin: 0;
			padding: 2rem 0;
		}
		
		.table-farma__title span{
			color: rgb(219, 119, 89);
			font-size: 90%;
		}
		.u-no-margin{
			margin: 0;
		}
		.u-margin-top-long{
		    margin-top: 3rem;
		}

		.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
 
	</style>

{% endblock %}

{% block title %} Control Recepcion del Pedido a Laboratorio {% endblock %}

{% block content %} 


<div class="header">
	<div class="container-fluid">
		<h1> Control Recepcion Pedido A Laboratorio</h1>
	</div>
</div>

<div class="container-fluid">
	 <section class="container-table">
            <div class="table-farma">
                <div class="table-farma__header">
                    <h4 class="table-farma__title u-no-margin">Pedido a laboratorio <span>{{pedido.laboratorio.razonSocial}}</span></h4>
                </div>
                <div class="table-responsive">
                    <table class="table-farma__table">
						<thead>
							<tr>
								<th>Renglón</th>
								<th>Medicamento</th>
								<th>Cantidad</th>
								<th>Pendiente de entrega</th>
								<th>Acusar recepción</th>
							</tr>
						</thead>
						<tbody>
							{% for detalle in detalles %} 
								<tr class="" data-id="{{ detalle.renglon }}">
									<td>{{ forloop.counter }}</td>
									<td>{{ detalle.medicamento.descripcion }}</td>
									<td>{{ detalle.cantidad }}</td>
									<td>{{ detalle.cantidadPendiente }}</td>
		                            <td class="action">

										{% if detalle.cantidadPendiente == 0 %}
			                                <a href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.numero detalle.renglon %}" class="table-farma__button text-center disabled" role="button">
			                                    <span class="glyphicon glyphicon-pencil"></span>
			                                </a>
			                            {% else %}
			                            	<a href="{% url 'recepcionPedidoAlaboratorio_controlDetalle' pedido.numero detalle.renglon %}" class="table-farma__button text-center">
			                                    <span class="glyphicon glyphicon-pencil"></span>
			                                </a>
			                            {% endif %}
		                            </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<a href="{% url 'recepcionPedidoAlaboratorio_registrar' pedido.numero %}" class="btn btn-primary pull-right">Registrar</a>
	</div>
</div>

{% if modalError %}
	<!-- Modal Error -->
	<div id="modal-error" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
	    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal Error</h4>
		      	</div>
		      	<div class="modal-body">
			        ...
		      	</div>
	    	</div>
	  	</div>
	</div>
{% endif %}


{% if modalSuccess %}
	<!-- Modal Error -->
	<div id="modal-success" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
	    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal Success</h4>
		      	</div>
		      	<div class="modal-body">
			        ...
		      	</div>
	    	</div>
	  	</div>
	</div>
{% endif %}

{% endblock %}

{% block scripts %} 
	<script>
		(function($){
			{% if modalError %}
				$('#modal-error').modal('show');
			{% endif %}

			{% if modalSuccess %}
				var $modalSuccess = $('#modal-success');
				$modalSuccess.modal('show');

				$modalSuccess.on('hidden.bs.modal', function (e) {
					window.location = "{% url 'recepcionPedidoAlaboratorio' %}";
                	e.stopPropagation();
				})
			{% endif %}

		})(jQuery);
	</script>
{% endblock %}