{% extends "base/base-abm.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}
    Recepcion de Pedidos de Laboratorio
{% endblock %}

{% block more-crumbs %}
    <li class="active">Recepcion de pedidos de laboratorio</li>
{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Pedidos a Laboratorio</h3>
{% endblock %}

{% block btn-alta %}
{% endblock %}

{% block btn-modificar %}
{% endblock %}

{% block btn-baja %}
{% endblock %}

{% block more-buttons %}
   <a class="btn btn-warning hidden ocultable" id="registrar"><span class="glyphicon glyphicon-ok-circle"></span>  Registrar recepcion</a>
{% endblock %}

{%block filtro %}
    <label for="Laboratorio" >Buscar:</label>
    <input  id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" placeholder=" Laboratorio">
    <button class="btn btn-danger btn-sm" type="submit" value="Filtrar" id="btn-filtrar">Filtrar</button>
    <button class="btn btn-primary btn-sm" type="button"  id="btn-limpiar">Limpiar</button>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Fecha</th>
                <th>Laboratorio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for recibido in recibidos %}
                <tr class="clickeable" data-id="{{ recibido.numero }}">
                    <td>{{recibido.fecha}}</td>
                    <td>{{recibido.laboratorio.razonSocial}}</td>
                    <td>{{recibido.estado}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){
            $("#registrar").on("click", function(e){
                var id = get_selected_row();
                if(id){
                    var url = "/recepcionPedidoAlaboratorio/" + id +"/cargarPedido/";
                    $(this).attr("href", url);
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}