{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Recepcion Pedido a Laboratorio {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Recepcion Pedidos a Laboratorio</li>
{% endblock %}

{% block header-title %} Recepcion Pedidos a Laboratorio {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" placeholder="Laboratorio" type="text" />
{% endblock %}

{% block form-fields-avanzados %} 
    <div>
        <input class="datepicker form-control form-field"  id="desde" name="desde" value="{{filtros.desde}}" placeholder="Desde">
    </div>
    
    <div>
        <input class="datepicker form-control form-field" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="Hasta">
    </div>
{% endblock %}

{% block sin-botones-header-tabla %}
{% endblock %}

{% block tabla %}
     <thead>
        <tr>
            <th>Nº Pedido</th>
            <th>Laboratorio</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
            <tr class="clickeable" data-id="{{ pedido.nroPedido }}">
                <td>{{pedido.nroPedido}}</td>
                <td>{{pedido.laboratorio.razonSocial}}</td>
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.estado}}</td>
                <td class="action">
                    <a class="btn btn-default button-hover-inverse" href="{% url 'recepcionPedidoAlaboratorio_cargarPedido' pedido.pk %}">
                        <span class="glyphicon glyphicon-ok-circle"></span> Registrar
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block table-empty-msg %} 
    No hay pedidos de laboratorio que esperen una recepción.
{% endblock %}

{% block sin-modal-eliminar %}{% endblock %}

{% block more-scripts %}
    <script>
        (function(){
            $(document).on("keyup", function(e){
                if(e.keyCode == 112){
                    window.open("{% static 'documentacion/build/html/receppedidosdelab.html' %}");
                }
            });
        })();
    </script>
{% endblock %}