{% extends "base-pedidos.html" %}
{% load staticfiles bootstrap3 %}


{% block title %}
    Recepcion
{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Registrar Recepcion Pedido a Laboratorio</h3><!--se sobreescribe el titulo de base-pedidos-->
{% endblock %}


{%block botonAlta%}
{% endblock %}

{%block botonVer%}
   <a class="btn btn-warning hidden" id="modificar"><span class="glyphicon glyphicon-ok-circle"></span>  Registrar recepcion</a>
{%endblock%}


{% block botonBaja%}
{% endblock %}
{%block filtro %}
    <label for="Laboratorio" >Buscar:</label>
    <input  id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" placeholder="laboratorio">
    <button class="btn btn-danger btn-sm" type="submit" value="Filtrar" id="btn-filtrar">Filtrar</button>
    <button class="btn btn-primary btn-sm" type="button"  id="btn-limpiar">Limpiar</button>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Renglon</th>
                <th>Fecha</th>
                <th>Laboratorio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for recibido in recibidos %}
                <tr class="clickeable" data-id="{{ recibido.numero }}">
                    <td>{{forloop.counter}}</td>
                    <td>{{recibido.fecha}}</td>
                    <td>{{recibido.laboratorio.razonSocial}}</td>
                    <td>{{recibido.estado}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Laboratorio </h4>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){
            $("#modificar").on("click", function(e){ /*Modificar es el id del boton 'ver' de este template*/
                var id = get_selected_row();
                if(id){
                    var url = "/recepcionPedidoAlaboratorio/" + id +"/cargarPedido/";
                    $(this).attr("href", url);
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}