{% extends "base-add-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
     <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    {{ form.media.css }}
{% endblock %}

{% block title %}
	Alta Recepción de Pedido a Laboratorio
{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepción de Pedidos a Laboratorio</a></li>
    <li class="active">Alta</li>
{% endblock %}

{% block header-title %} Alta Recepción de Pedido a Laboratorio {% endblock%}

{% block url-volver %}{% url 'recepcionPedidoAlaboratorio' %}{% endblock %}

{% block panel-title-pedido %}
	Registrar Recepcion
{% endblock %}

{%block footer%}{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/receppedidosdelab.html' %}";
                url += "#registrar-recepcion";
                window.open(url);
            }
        });
    </script>
{% endblock %}
