{% extends "base-add-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
     <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    {{ form.media.css }}
{% endblock %}

{% block title %}
	Alta Remito
{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'recepcionPedidoAlaboratorio' %}">Recepcion de pedidos de laboratorio</a></li>
    <li class="active">Recepcion de pedido</li>
{% endblock %}

{% block panel-title-pedido %}
	Registrar Recepcion
{% endblock %}

{%block footer%}{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
{% endblock %}
