{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}
	Medicamentos
{% endblock %}

{% block more-crumbs %}
    <li class="active">Medicamentos</li>
{% endblock %}

{% block panel-title-ABM%}
    Medicamentos
{% endblock %}

{% block url-add %}{% url 'medicamento_add' %}{% endblock %}

{% block btn-modificar %}
    <a class="btn btn-warning hidden ocultable" id="modificar-stock">
        <span class="glyphicon glyphicon-edit"></span>  Modificar Stock
    </a>
    <a class="btn btn-primary hidden ocultable" id="modificar-precio">
        <span class="glyphicon glyphicon-edit"></span>  Modificar Precio
    </a>
{% endblock %}

{% block more-buttons %}
    <a class="btn btn-info hidden ocultable" id="verLote">
        <span class="glyphicon glyphicon-folder-open"></span>  Ver Lotes
    </a>
{% endblock %}

{% block filtro %}
    <label for="nombreFantasia" >Buscar:</label>
    <input class="filtro" id="nombreFantasia" name="nombreFantasia" value="{{ filtros.nombreFantasia }}" placeholder="Nombre Fantasia" type="text">
    <input class="filtro" id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" type="text" placeholder="Laboratorio">
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
            <th>Nombre Fantasia</th>
            <th>Presentacion</th>
            <th>Formula</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamento in medicamentos %}
                <tr class="clickeable" data-id="{{ medicamento.id }}">
                    <td>{{medicamento.nombreFantasia}}</td>
                    <td>{{medicamento.presentacion}}</td>
                    <td>{{medicamento.formulas.all|join:", "}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Medicamento </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> El medicamento seleccionado se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    <script>
        $("#baja").on("click", function(e) {
            var id = get_selected_row();
            if(id){
               crear_baja("/medicamentos/delete/", id);
            }
            e.stopPropagation();
        });

        $("#modificar-stock").on("click", function(e){
            var id = get_selected_row();
            if(id){
                var url="/medicamentos/updateStockMinimo/" + id +"/";
                $(this).attr("href", url);
            }
            e.stopPropagation();
        });

        $("#modificar-precio").on("click", function(e){
            var id = get_selected_row();
            if(id){
                var url="/medicamentos/updatePrecioVenta/" + id +"/";
                $(this).attr("href", url);
            }
            e.stopPropagation();
        });

        $("#verLote").on("click", function(e) {
            var id = get_selected_row();
            if(id){
               var url="/medicamentos/verLotes/" + id +"/";
                $(this).attr("href", url);
            }
            e.stopPropagation();
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                url = "{% static 'documentacion/build/html/medicams.html' %}"
                window.open(url);
            }
        });
    </script>
{% endblock %}