{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load staticfiles bootstrap_dynamic_formsets %}
{% load crispy_forms_tags %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css' %}">

    {{ dosis_formset.media.css }}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    {{ dosis_formset.media.js }}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %} Alta de Medicamento {% endblock%}

{% block breadcrumb-items %}
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'medicamentos' %}">Medicamentos</a></li>
        <li class="active">Alta</li>
{% endblock %}

{% block url-volver %}{% url 'medicamentos' %}{% endblock %}

{% block header-title %} Alta de Medicamento {% endblock %}

{% block content %}                 
<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form class="form" method="post"> {% csrf_token %}
    
                {% crispy medicamento_form %}

                {{ dosis_formset.non_form_errors }}
                {% bootstrap_dynamic_formset dosis_formset can_delete=True %}
 {{ formset.management_form }}
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block no-jquery %} {% endblock%}

{% block scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        /*$('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });*/

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/medicams.html' %}";
                url += "#alta-medicamento";
                window.open(url);
            }
        });



        var $sortItems = $('#sortable .sort-item'),
            txt;   
        $sortItems.removeClass('well');

        $sortItems.each(function(i, el){
            var $errors = $(el).find('.has-error .help-block');
            $errors.each(function(i, elem){
                var txt = $(elem).text();
                $(elem).html('<strong>' + txt + '</strong>')
            });
        });
    </script>
{% endblock %}