{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Modificacion de Medicamento{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'medicamentos' %}">Medicamentos</a></li>
    <li class="active">Modificacion de medicamento</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Modificacion del Stock Minimo del Medicamento</h3>
{% endblock %}

{% block url-form-action %}{% url 'medicamento_update_stock_minimo' id %}{% endblock %}

{% block boton-form %}
    <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
{% endblock%}

{% block url-previous %}{% url 'medicamentos' %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/medicams.html' %}";
                url += "#modificar-stock-minimo";
                window.open(url);
            }
        });
    </script>
{% endblock %}