{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Actualizar Precio de Venta{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Modificacion del Precio de Venta del Medicamento</h3>
{% endblock %}

{% block url-form-action %}{% url 'medicamento_update_precioVenta' id %}{% endblock %}

{% block boton-form %}
    <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
{% endblock%}

{% block url-previous %}{% url 'medicamentos' %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/medicams.html' %}";
                url += "#modificar-precio-de-venta";
                window.open(url);
            }
        });
    </script>
{% endblock %}