{% load staticfiles bootstrap3 %}
{% load staticfiles bootstrap_dynamic_formsets %}

{% block stylesheets %}
	<meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/base.css'  %}">

    {{ dosis_formset.media.css }}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	{{ dosis_formset.media.js }}

    <style>
        .errorlist{
            color : #A94442;
            list-style:none;
            font-weight: 700;
        }
    </style>
{% endblock %}

{% include 'inicio/nav.html' %}

{% block title %}
	<title>Alta de Medicamento</title>
{% endblock %}

{% block content %}
    <div style="margin: 30px 20px 90px 20px;">
        <div class="container">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alta de Medicamentos</h3>
                    </div>
                    <div class="panel-body">
                        {{ medicamento_form.errors }}
                        {{ medicamento_form.non_field_errors }}
                        <form class="form-horizontal col-xs-12" method="post">
                            {% csrf_token %}
                            {% bootstrap_form medicamento_form %}
                            <label class="control-label">Formula</label>
                            <!--{{ dosis_formset.errors }}-->
                            {{ dosis_formset.non_form_errors }}
                            {% bootstrap_dynamic_formset dosis_formset can_order=True can_delete=True layout='inline'  %}
                            <div class="pull-right" style="margin-bottom: -10px;">
                                <button type="button" class="btn btn-warning" style="margin-right: 10px;">
                                    {% bootstrap_icon "refresh" %} Limpiar
                                </button>
                                <button type="submit" id="btn-guardar-continuar" class="btn btn-success pull-right" style="margin-left:10px;" value="_continuar" name="_continuar">
	                        		{% bootstrap_icon "ok" %} Guardar y Continuar
	                        	</button>
								<button type="submit" id="btn-guardar-volver" class="btn btn-primary pull-right" value="_volver" name="_volver">
									{% bootstrap_icon "ok" %} Guarrdar y Volver
								</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% include 'inicio/footer.html' %}