{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Medicamentos {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Medicamentos</li>
{% endblock %}

{% block header-title %} Medicamentos {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="nombreFantasia" name="nombreFantasia" value="{{ filtros.nombreFantasia }}" placeholder="Nombre Fantasia" type="text">
{% endblock %}

{% block form-fields-avanzados %} 
    <input class="form-control form-field" id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" type="text" placeholder="Laboratorio">
{% endblock %}

{% block botones-header-tabla %} 
    <a class="btn-alta" href="{% url 'medicamento_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Código de Barras</th>
            <th>Nombre de Fantasia</th>
            <th>Presentacion</th>
            <th>Stock Minimo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for medicamento in medicamentos %}
            <tr class="clickeable" data-id="{{ medicamento.id }}">
                <td>{{medicamento.codigoBarras}}</td>
                <td>{{medicamento.nombreFantasia}}</td>
                <td>{{medicamento.presentacion}}</td>
                <td>{{medicamento.stockMinimo}}</td>
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link" href="{% url 'medicamento_update_stock_minimo' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Modificar Stock Mínimo
                                </a>
                            </li>
                            <li>
                                <a class="action-link" href="{% url 'medicamento_update_precio_venta' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon glyphicon-edit"></span> Modificar Precio Venta
                                </a>
                            </li>
                            <li>
                                <a class="action-link" href="{% url 'medicamento_verLotes' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-eye-open"></span> Ver Lotes
                                </a>
                            </li>
                            <li>
                                <a class="action-link btn-eliminar" href="#" data-url="{% url 'medicamento_delete' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %}Eliminar Medicamento{% endblock %}

{% block modal-eliminar-mensaje %}
    El medicamento seleccionado se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/medicams.html' %}";
                url += "#medicamentos";
                window.open(url);
            }
        });
    </script>
{% endblock %}