{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Medicamentos {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Medicamentos</li>
{% endblock %}

{% block header-title %} Medicamentos {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="nombreFantasia" name="nombreFantasia" value="{{ filtros.nombreFantasia }}" placeholder="Nombre Fantasia" type="text">
{% endblock %}

{% block form-fields-avanzados %} 
    <input class="form-control form-field" id="laboratorio" name="laboratorio" value="{{ filtros.laboratorio }}" type="text" placeholder="Laboratorio">
{% endblock %}

{% block botones-header-tabla %} 
    {% if perms.usuarios.encargado_general %}
        <div class="dropdown dropdown-reportes">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-signal"></span> Reportes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'medicamentos_topPorCantidad' %}">Medicamentos más solicitados (por cantidad)</a></li>
              <li><a href="{% url 'medicamentos_topPorPedido' %}">Medicamentos más solicitados (por pedido)</a></li>
              <li><a href="{% url 'medicamentos_topOrganizacionesPorCantidad' %}">Organizaciones mas demandantes de un medicamento (por cantidad)</a></li>
              <li><a href="{% url 'medicamentos_topOrganizacionesPorPedidos' %}">Organizaciones mas demandantes de un medicamento (por pedido)</a></li>
          </ul>
        </div>
        <a class="btn-alta" href="{% url 'medicamento_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nombre de Fantasia</th>
            <th>Presentacion</th>
            <th>Laboratorio</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for medicamento in medicamentos %}
            <tr class="clickeable" data-id="{{ medicamento.id }}">
                <td>{{medicamento.nombreFantasia}}</td>
                <td>{{medicamento.presentacion}}</td>
                <td>{{medicamento.laboratorio}}</td>
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            {% if perms.usuarios.encargado_stock %}
                            <li>
                                <a class="action-link" href="{% url 'medicamento_update_stock_minimo' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Modificar Stock Mínimo
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.usuarios.encargado_general %}
                            <li>
                                <a class="action-link" href="{% url 'medicamento_update_precio_venta' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon glyphicon-edit"></span> Modificar Precio de Venta
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="action-link btn-ver-lotes" href="#" data-url="{% url 'medicamento_verLotes' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-eye-open"></span> Ver Lotes
                                </a>
                            </li>
                            {% if perms.usuarios.encargado_general %}
                            <li>
                                <a class="action-link btn-eliminar-ajax" href="#" data-url="{% url 'medicamento_delete' medicamento.pk %}" data-url-ajax="{% url 'medicamento_try_delete' medicamento.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Eliminar
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %}Eliminar Medicamento{% endblock %}

{% block modal-eliminar-mensaje %}
    El medicamento seleccionado se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block mensaje-fallo-eliminacion %}Este medicamento no puede ser eliminado por las siguientes razones:{% endblock %}

{% block more-content %}
    <div class="modal fade" id="modal-ver-lotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ver Lotes</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nº Lote</th>
                                <th>Fecha de Vencimiento</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="mensaje-sin-lotes">
                        <p>Este medicamento no posee lotes activos</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        (function(){
            var $btnVerLotes = $('.btn-ver-lotes'),
                $modalVerLotes = $('#modal-ver-lotes'),
                $tablaLotes = $modalVerLotes.find('table'),
                $mensajeSinLotes = $modalVerLotes.find('.mensaje-sin-lotes');

            $(document).on("keyup", function(e){
                if(e.keyCode == 112){
                    var url = "{% static 'documentacion/build/html/medicams.html' %}";
                    url += "#medicamentos";
                    window.open(url);
                }
            });

            $btnVerLotes.on('click', openModalLotes);

            function setDataTable(options) {
                var $table = options.table,
                    $bodyTable = $table.find('tbody'),
                    $emptyTable = options.emptyTable,
                    fragment = document.createDocumentFragment(),
                    i, j, maxFilas, maxColumns;

                $emptyTable.addClass('hidden');
                $table.removeClass('hidden');
                $bodyTable.empty();

                for (i = 0, maxFilas = options.data.length; i < maxFilas; i += 1) {
                    var tr = document.createElement('tr');

                    for (j = 0, maxColumns = options.keyColumns.length; j < maxColumns; j += 1) {
                        var td = document.createElement('td'),
                            txtTd = document.createTextNode(options.data[i][options.keyColumns[j]]);
                        td.appendChild(txtTd);
                        tr.appendChild(td);
                        fragment.appendChild(tr);
                    }
                }

                if (options.data.length === 0) {
                    $table.addClass('hidden');
                    $emptyTable.removeClass('hidden');

                } else {
                    $bodyTable.append(fragment);
                }
            }
            function openModalLotes(e) {
                $.ajax({
                    type: 'GET',
                    url: $(this).data('url'),
                    dataType: 'json',
                    success: function(data){
                        setDataTable({
                            'table': $tablaLotes,
                            'emptyTable': $mensajeSinLotes,
                            'data': data['lotes'],
                            'keyColumns': ['nroLote', 'fechaVencimiento', 'stock']
                        });
                        $modalVerLotes.modal('show');
                    },
                    error: function(err){
                        alert("Fallo Ajax");
                    },
                });
            }
        })();
    </script>
{% endblock %}