{% extends "base/estadisticas.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} Medicamentos más solicitados (por cantidad) {% endblock %}

{% block more-breadcrumb-items %}
    <li><a href="{% url 'medicamentos' %}">Medicamentos</a></li>
    <li class="active">Top medicamentos más solicitados (por cantidad)</li>
{% endblock %}

{% block header-title %} Medicamentos mas solicitados (por cantidad) {% endblock%}

{% block url-volver %}{% url 'medicamentos' %}{% endblock %}

{% block fields-form %}
	{% bootstrap_form form layout='inline' %}
{% endblock %}

{% block url-excel %}{% url 'medicamentos_topPorCantidadExcel' %}{% endblock %}

{% block more-scripts %}
	<script>
		(function() {
			var columnChart = JSON.parse("{{ columnChart }}".replace(/&quot;/g, '\"')),
				pieChart = JSON.parse("{{ pieChart }}".replace(/&quot;/g, '\"')),

				settingsColumnChart = {
					'categories': columnChart.medicamentos,
					'yAxisTitle': 'Medicamentos (cantidad)',
					'pointFormat': '<tr><td style="color:{series.color};padding:0"></td>' + '<td style="padding:0"><b>{point.y:1f} Medicamentos pedidos</b></td></tr>',
					'series': [{colorByPoint: true, name: ' ', data: columnChart.cantidades }]
				},
				settingsPieChart = {
					'pointFormat': '<b>{point.percentage:.2f}%</b>',
					'series': [{'colorByPoint': true, 'data': pieChart}]
				};

			if(columnChart.medicamentos.length > 0 && pieChart.length > 0) {
				// COLUMN CHART
				charts.initColumnChart("#column-chart", settingsColumnChart);
				// PIE CHART
				charts.initPieChart("#pie-chart", settingsPieChart);
			} else {
				$("#charts").addClass("hidden");
				$("#sin-resultados").closest(".row").removeClass("hidden");
				$(".download-excel").addClass("hidden");
			}
		})();
	</script>
{% endblock %}