{% extends "base-presentacion-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.custom.min.css' %}">
    <style>
        .btn-volver {
            position: absolute;
            right: 15px;
            padding: 0.5rem 1rem;
            border: 1px solid rgb(219,119,89);
            border-radius: 5px;
            color: rgb(219,119,89);
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
        }

        .btn-volver:hover {
            background-color: rgb(219,119,89);
            color: #FFF;
        }

        .container-btn-volver {
            position: relative;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }

        .ocultable {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Lotes{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'medicamentos' %}">Medicamentos</a></li>
    <li class="active">Lotes</li>
{% endblock %}

{% block tipo-pedido %}Lotes del medicamento{% endblock %}

{% block nombre-organizacion %} {{ medicamento.nombreFantasia }} {{ medicamento.presentacion }} {% endblock %}

{% block etiqueta-Numero-Y-fecha %}{% endblock %}

{% block jumbotron-style %}{% endblock %}

{% block panel-detalles %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Lotes</h3>
        </div>
        <div class="panel-body">
            <div class="tab-pane fade in active">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr class="info">
                            <th>Lote</th>
                            <th>Fecha de vencimiento</th>
                            <th>Stock</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lote in lotes %}
                            <tr>
                                <td>{{ lote.numero }}</td>
                                <td>{{ lote.fechaVencimiento }}</td>
                                <td>{{ lote.stock }}</td>
                                <td>{{ lote.precio }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10 container-btn-volver">
            <a class="btn-volver" href="{% url 'medicamentos' %}"><span aria-hidden="true">&larr; Volver</span> </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/datepicker.js' %}"></script>
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/medicams.html' %}";
                url += "#ver-lotes";
                window.open(url);
            }
        });
    </script>
{% endblock %}

