{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Modificar Presentación{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'presentaciones' %}">Presentaciones</a></li>
    <li class="active">Modificar Presentación</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Modificar Presentación</h3>
{% endblock %}

{% block url-form-action %}{% url 'presentacion_update' id %}{% endblock %}

{% block boton-form %}
    <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
{% endblock%}

{% block url-previous %}{% url 'presentaciones' %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/presentaciones.html' %}";
                url += "#modificar-presentacion";
                window.open(url);
            }
        });
    </script>
{% endblock %}