{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}
	Presentaciones
{% endblock %}

{% block more-crumbs %}
    <li class="active">Presentaciones</li>
{% endblock %}

{% block panel-title-ABM %}
    Forma de Presentacion
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Unidad de Medida</th>

            </tr>
        </thead>
        <tbody>
            {% for presentacion in presentaciones %}

                <tr class="clickeable" data-id="{{ presentacion.id }}">
                <td>{{presentacion.descripcion}}</td>
                <td>{{presentacion.cantidad}}</td>
                <td>{{presentacion.unidadMedida}}</td>

                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block url-add %}{% url 'presentacion_add' %}{% endblock %}

{% block filtro %}

 <label for="descripcion" >Buscar:</label>
 <input class="filtro" id="descripcion" name="descripcion" value="{{filtros.descripcion}}" placeholder=" Descripcion" autofocus>

{% endblock %}

{% block cantidad-elementos %}
    {{ presentaciones|length }}
    {% if presentaciones|length != 1%}
        formas de presentacion
    {% else %}
        forma de presentacion
    {% endif %}
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Presentacion </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> La presentacion seleccionada se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    <script>
        $("#baja").on("click", function(e) {
            var id = get_selected_row();
            if(id){
               crear_baja("/presentaciones/delete/", id);
            }
            e.stopPropagation();
        });

        $("#modificar").on("click", function(e){
            var id = get_selected_row();
            if(id){
                var url = "/presentaciones/update/" + id +"/";
                $(this).attr("href", url);
            }
            e.stopPropagation();
        });
    </script>
{% endblock %}