{% extends "base/base-add-update.html" %}

{% block title %}Actualizar Presentacion{% endblock %}


					{% block panel-heading-add %}

                        <h3 class="panel-title">Modificacion de Presentacion</h3>

                    {% endblock %}

                    {% block url-form-action %} {% url 'presentacion_update' id %}  {% endblock %}

                    {% block boton-form %}

                        <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>

                    {% endblock%}

					{% block url-previous %} {% url 'presentaciones' %} {% endblock %}
