{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Alta de Presentacion{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'presentaciones' %}">Presentaciones</a></li>
    <li class="active">Alta de presentacion</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Alta de Presentacion</h3>
{% endblock %}

{% block url-form-action %}{% url 'presentacion_add' %}{% endblock %}

{% block url-previous %}{% url 'presentaciones' %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/presentaciones.html' %}";
                url += "#alta-de-presentacion";
                window.open(url);
            }
        });
    </script>
{% endblock %}