{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Pedidos de Clinica {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Pedidos de Clinica</li>
{% endblock %}

{% block header-title %} Pedidos de Clinica {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="clinica" name="clinica" value="{{filtros.clinica}}" placeholder="Clinica" type="text" />
{% endblock %}

{% block form-fields-avanzados %} 
    <input class="form-control form-field" id="obra-social" name="obraSocial" value="{{filtros.obraSocial}}" placeholder="Obra Social" type="text">
    <input class="datepicker form-control form-field"  id="desde" name="desde" value="{{filtros.desde}}" placeholder="Desde">
    <input class="datepicker form-control form-field" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="Hasta">
{% endblock %}

{% block botones-header-tabla %} 
    <a class="btn-alta" href="{% url 'pedidoDeClinica_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nº Pedido</th>
            <th>Clinica</th>
            <th>Fecha</th>
            <th>Obra social</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
            <tr class="clickeable" data-id="{{ pedido.nroPedido }}">
                <td>{{ pedido.nroPedido }}</td>
                <td>{{ pedido.clinica }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.obraSocial}}</td>
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link" href="{% url 'pedidoDeClinica_ver' pedido.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-eye-open"></span> Ver
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block sin-modal-eliminar %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/pedidosclinica.html' %}");
            }
        });
    </script>
{% endblock %}