{% extends "base-add-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    {{ form.media.css }}
{% endblock %}

{% block title %}
	Alta Pedido De Clinica
{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'pedidosDeClinica' %}">Pedidos de clinica</a></li>
    <li class="active">Alta de pedido de clinica</li>
{% endblock %}

{% block panel-title-pedido %}
	Pedido de Clinica
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
{% endblock %}
