{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    {{ form.media.css }}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}Alta Pedido De Clinica{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'pedidosDeClinica' %}">Pedidos de Clínica</a></li>
    <li class="active">Alta</li>
{% endblock %}

{% block url-volver %}{% url 'pedidosDeClinica' %}{% endblock %}

{% block header-title %} Alta Pedido de Clínica {% endblock %}

{% block title-header-form %}Agregar nuevo pedido de clínica{% endblock %}

{% block icon-header-form %}
    <span class="icon-file-text page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Complete los siguientes campos{% endblock %}

{% block no-msg-success %}
{% endblock %}

{% block more-scripts %}
<script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

        var $selectClinica = $('#id_clinica'),
            $selectObraSocial = $('#id_obraSocial');

        $selectClinica.on('change', setOptionsSelect);
        setOptionsSelect();

        function setOptionsSelect() {
            var id_clinica = $selectClinica.val()
            if(id_clinica) {
                $.ajax({
                    type: 'GET',
                    url: '/getObrasSociales/' + id_clinica + '/',
                    dataType: 'json',
                    success: function(data){
                        console.log(data)
                        var selectize =   $('select')[1].selectize;
                        selectize.clearOptions();
                        $.each(data, function(key, opt) {
                            selectize.addOption({value: opt['value'], text: opt['text']});
                        })
                    },
                    error: function(err){
                        alert("Fallo Ajax");
                    }
                });
            }
        }

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/pedidosclinica.html' %}";
                url += "#alta-pedido";
                window.open(url);
            }
        });
    </script>
{% endblock %}