{% extends "base/estadisticas.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} Clínicas mas demandantes (por medicamento) {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'farmacias' %}">Pedidos De Clinica</a></li>
    <li class="active">Clínicas mas demandantes (por medicamento)</li>
{% endblock %}

{% block header-title %} Clínicas mas demandantes (por medicamento) {% endblock%}

{% block url-volver %}{% url 'pedidosDeClinica' %}{% endblock %}

{% block fields-form %} 
	{% bootstrap_form form layout='inline' %}
{% endblock %}

{% block url-excel %}{% url 'pedidosDeClinica_topClinicasConMasMedicamentosExcel' %}{% endblock %}

{% block more-scripts %}
	<script>
		(function() {

			var columnChart = JSON.parse("{{ columnChart }}".replace(/&quot;/g, '\"')),
				pieChart = JSON.parse("{{ pieChart }}".replace(/&quot;/g, '\"')),
				settingsColumnChart = {
					'categories': columnChart.clinicas,
					'yAxisTitle': 'Medicamentos (cantidad)',
					'pointFormat': '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y} medicamentos</b></td></tr>',
					'series': [{'colorByPoint': true, 'data': columnChart.cantidades }]
				},
				settingsPieChart = {
					'pointFormat': '{series.name}: <b>{point.percentage:.3f}%</b>',
					'series': [{'colorByPoint': true, 'data': pieChart}]
				};
			// COLUMN CHART
			charts.initColumnChart("#column-chart", settingsColumnChart);
			// PIE CHART
			charts.initPieChart("#pie-chart", settingsPieChart);
		})();
	</script>
{% endblock %}