{% extends "base/base-add-update.html" %}
{% load staticfiles bootstrap3 %}

{% block content %}
    <div class="panel-body">
        <form class="form-horizontal col-xs-5 center" method="post" novalidate>
              {% csrf_token %}
              {% bootstrap_form detalle %}
            <div class="pull-right" style="margin-bottom: -10px;">
                <button type="button" class="btn btn-warning" style="margin-right: 10px;">
                    {% bootstrap_icon "refresh" %} Limpiar
                </button>
                <button type="submit" id="btn-guardar-continuar" class="btn btn-success pull-right" style="margin-left:10px;" value="_dale_guacha" name="_guacha">
                    {% bootstrap_icon "ok" %} Guardar Pedido
                </button>
                <button type="submit" id="btn-guardar-volver" class="btn btn-primary pull-right" style="margin-left:10px;" value="_volver" name="_agregar">
                    {% bootstrap_icon "ok" %} Agregar Detalle
                </button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    {% block grid %}
        <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr class="info">
                <th>Renglon</th>
                <th>Cantidad</th>
                <th>Medicamento</th>
                <th>Cantidad Pendiente</th>
                </tr>
            </thead>
            <tbody>
                {% for renglon in renglones %}
                    <tr class="clickeable" data-id="{{ detalle.id }}">
                        <td>{{forloop.counter}}</td>
                        <td>{{renglon.cantidad}}</td>
                        <td>{{renglon.nombre}}</td>
                        <td>{{renglon.cantidadPendiente}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}


