{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}Laboratorios{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Pedidos a Laboratorio</h3>
{% endblock %}

{% block btn-modificar %}{% endblock %}

{% block more-buttons %}
    <a class="btn btn-warning hidden ocultable" id="ver"><span class="glyphicon glyphicon-pencil"></span>Ver</a>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info"> <!--encabezado del listado que tendra una tabla de tres columnas-->
                <th>numero</th>
                <th>Fecha</th>
                <th>Laboratorio</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr class="clickeable" data-id="{{ pedido.numero }}">
                    <td>{{pedido.numero}}</td>
                    <td>{{pedido.fecha}}</td>
                    <td>{{pedido.laboratorio}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block url-add %}{% url 'pedidoAlaboratorio_add' %}{% endblock %}

{% block filtro %}
    <label for="numero" >Buscar:</label>
    <input class="filtro" id="numero" name="numero" value="{{filtros.numero}}" placeholder="numero" autofocus>
{% endblock %}

{% block cantidad-elementos %}
    {{ pedidos|length }}
    {% if pedidos|length != 1%}
        pedidos a laboratorio
    {% else %}
        pedido a laboratorio
    {% endif %}
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Laboratorio </h4>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){

            $("#ver").on("click", function(e){
                var id = get_selected_row();
                if(id){
                    var url = "/pedidosAlaboratorio/ver/" + id +"/";
                    $(this).attr("href", url);
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}