{% extends "base-add-pedido.html" %}
{% load staticfiles bootstrap3 %}
{% load crispy_forms_tags %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css' %}">
    {{ form.media.css }}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}
	Pedido a Laboratorio
{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'pedidosAlaboratorio' %}">Pedidos a laboratorio</a></li>
    <li class="active">Alta de pedido a laboratorio</li>
{% endblock %}

{% block panel-title-pedido %}
	Pedido a Laboratorio
{% endblock %}

{% block more-scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });
    </script>
{% endblock %}