{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
     <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
{% endblock %}

{% block title %}Pedidos a laboratorios{% endblock %}

{% block more-crumbs %}
    <li class="active">Pedidos a laboratorio</li>
{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Pedidos a Laboratorio</h3>
{% endblock %}

{% block btn-modificar %}{% endblock %}

{% block btn-baja %}{% endblock %}

{% block more-buttons %}
    <a class="btn btn-danger hidden ocultable" id="cancelar-pedido" data-toggle="modal" data-target="#modal-baja"><span class="glyphicon glyphicon-remove"></span> Cancelar Pedido</a>
    <a class="btn btn-info hidden ocultable" id="ver"><span class="glyphicon glyphicon-pencil"></span> Ver</a>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Numero</th>
                <th>Fecha</th>
                <th>Laboratorio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr 
                    {% if pedido.estado == "Pendiente" %}
                        class="clickeable cancelable"
                    {% else %}
                        class="clickeable"
                    {% endif %} 
                data-id="{{ pedido.nroPedido }}">
                    <td>{{pedido.nroPedido}}</td>
                    <td>{{pedido.fecha}}</td>
                    <td>{{pedido.laboratorio}}</td>
                    <td>{{pedido.estado}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block url-add %}{% url 'pedidoAlaboratorio_add' %}{% endblock %}

{% block filtro %}
    <label>Buscar:</label>
    <input class="filtro" id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" placeholder="Laboratorio">
    <input class="datepicker"  id="desde" name="desde" value="{{filtros.desde}}" placeholder="Desde">
    <input class="datepicker" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="Hasta">
    <button class="btn btn-danger btn-sm" type="submit" value="Filtrar" id="btn-filtrar">Filtrar</button>
    <button class="btn btn-primary btn-sm" type="button"  id="btn-limpiar">Limpiar</button>
{% endblock %}

{% block cantidad-elementos %}
    {{ pedidos|length }}
    {% if pedidos|length != 1%}
        pedidos a laboratorio
    {% else %}
        pedido a laboratorio
    {% endif %}
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Cancelar Laboratorio </h4>
{% endblock %}

{% block modal-baja-texto %}¿Esta seguro de querer cancelar este pedido a laboratorio?{% endblock %}

{% block more-scripts %}
<script src="{% static 'js/datepicker.js' %}"></script>
    <script>
        $(document).ready(function(){

            $("#ver").on("click", function(e){
                var id = get_selected_row();
                if(id){
                    var url = "/pedidosAlaboratorio/ver/" + id + "/";
                    $(this).attr("href", url);
                }
                e.stopPropagation();
            });

            $('.clickeable').on('click', function(){
                if(! $(this).hasClass('cancelable')){
                    $('#cancelar-pedido').addClass('hidden');
                }
            });

            $('#cancelar-pedido').on('click', function(e){
                var id = get_selected_row();
                if(id){
                    crear_baja("/pedidosAlaboratorio/cancelar/", id);
                }
                e.stopPropagation()
            });

            $(document).on("keyup", function(e){
                if(e.keyCode == 112){
                    url = "{% static 'documentacion/build/html/pedidosalab.html' %}"
                    window.open(url);
                }
            });
        });
    </script>
{% endblock %}