{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Pedidos a Laboratorio {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Pedidos a laboratorio</li>
{% endblock %}

{% block header-title %} Pedidos a Laboratorio {% endblock %}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="laboratorio" name="laboratorio" value="{{filtros.laboratorio}}" placeholder="Laboratorio" type="text" />
{% endblock %}

{% block form-fields-avanzados %} 
    <div>
        <input class="datepicker form-control form-field"  id="desde" name="desde" value="{{filtros.desde}}" placeholder="Desde" type="text" />
    </div>
    <div>
        <input class="datepicker form-control form-field" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="Hasta" type="text" />
    </div>
{% endblock %}

{% block botones-header-tabla %} 
    {% if perms.usuarios.encargado_pedido %}
        <div class="dropdown dropdown-reportes">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-signal"></span> Reportes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{% url 'pedidosAlaboratorio_topLabConMasSolicitudesMedicamentos' %}">Top 10 Laboratorios con mayor solicitud de medicamentos</a></li>
            <li><a href="{% url 'pedidosAlaboratorio_topLabConMasSolicitudesPedidos' %}">Top 10 Laboratorios con mayor solicitud de pedidos</a></li>
          </ul>
        </div>
        <a class="btn-alta" href="{% url 'pedidoAlaboratorio_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nº Pedido</th>
            <th>Laboratorio</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
            <tr class="clickeable" data-id="{{ pedido.nroPedido }}">
                <td>{{ pedido.nroPedido }}</td>
                <td>{{ pedido.laboratorio }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.estado}}</td>
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link btn-ver-detalles" href="#" data-url="{% url 'pedidoAlaboratorio_verDetalles' pedido.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-eye-open"></span> Ver Detalles
                                </a>
                            </li>
                            <li>
                                <a class="action-link btn-ver-remitos" href="#" data-url="{% url 'pedidoAlaboratorio_verRemitos' pedido.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-eye-open"></span> Ver Remitos
                                </a>
                            </li>
                            {% if pedido.estado == "Pendiente" and perms.usuarios.encargado_general %}
                            <li>
                                <a class="action-link btn-eliminar" href="#" data-url="{% url 'pedidoAlaboratorio_cancelar' pedido.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-remove"></span> Cancelar
                                </a>
                            </li>
                            {% endif%}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %} Cancelar Pedido a Laboratorio {% endblock %}

{% block modal-eliminar-mensaje %}
    El pedido a laboratorio seleccionado se cancelará ¿Está seguro?
{% endblock %}

{% block more-content %}
    <div class="modal fade" id="modal-ver-detalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detalles del Pedido</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Medicamento</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-ver-remitos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Remitos del Pedido</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nº Remito</th>
                                <th>Fecha</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div class="mensaje-sin-remitos">
                        <p>Este pedido aún no posee remitos</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/modalAjax.js' %}"></script>
    <script>
        (function(){
            var modal = modalAjax();
            modal.init();

            $(document).on("keyup", function(e){
                if(e.keyCode == 112){
                    window.open("{% static 'documentacion/build/html/pedidosalab.html' %}");
                }
            });
        })();
    </script>
{% endblock %}