{% extends "base-presentacion-pedido.html" %}

{% block title %}Ver Pedido a Laboratorio{% endblock %}

{% block tipo-pedido %}Pedido a Laboratorio{% endblock %}

{% block nombre-organizacion %} {{ pedido.laboratorio.razonSocial }} {% endblock %}

{% block fecha-pedido %} {{ pedido.fecha }} {% endblock %}

{% block nro-pedido %} {{ pedido.numero }} {% endblock %}

{% block panel-detalles %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#detalles-pedido">Detalles del pedido</a></li>
              <li><a data-toggle="pill" href="#remitos-pedido">Remitos del pedido</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div id="detalles-pedido" class="tab-pane fade in active">
                    <table class="table table-condensed table-responsive" >
                        <thead>
                            <tr class="info">
                                <th>Renglon</th>
                                <th>Cantidad</th>
                                <th>Medicamento</th>
                                <th>Cantidad Pendiente</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{detalle.cantidad}}</td>
                                    <td>{{detalle.medicamento}}</td>
                                    <td>{{detalle.cantidadPendiente}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="remitos-pedido" class="tab-pane fade">
                    <table class="table table-condensed table-responsive" >
                        <thead>
                            <tr class="info" align="center">
                                <th>Numero</th>
                                <th>Fecha</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for remito in remitos %}
                                <tr class="clickeable" data-id="{{ remito.id }}">
                                    <td>{{ remito.id }}</td>
                                    <td>{{ remito.fecha }}</td>
                                    <td>
                                        <a data-remito="{{ remito.id }}" class="btn btn-info btn-xs btn-generar"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}