{% extends "base/estadisticas.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} Laboratorios con más solicitudes (por medicamento) {% endblock %}

{% block more-breadcrumb-items  %}
    <li><a href="{% url 'farmacias' %}">Pedidos A Laboratorio</a></li>
    <li class="active">Laboratorios con más solicitudes (por medicamento)</li>
{% endblock %}

{% block header-title %} Laboratorios con más solicitudes (por medicamento) {% endblock%}

{% block url-volver %}{% url 'pedidosAlaboratorio' %}{% endblock %}

{% block fields-form %} 
	{% bootstrap_form form layout='inline' %}
{% endblock %}

{% block url-excel %}{% url 'pedidosAlaboratorio_topLabConMasSolicitudesMedicamentosExcel' %}{% endblock %}

{% block more-scripts %}
	<script>
		(function() {

			var columnChart = JSON.parse("{{ columnChart }}".replace(/&quot;/g, '\"')),
				pieChart = JSON.parse("{{ pieChart }}".replace(/&quot;/g, '\"')),
				settingsColumnChart = {
					'categories': columnChart.laboratorios,
					'yAxisTitle': 'Medicamentos (cantidad)',
					'pointFormat': '<tr><td style="color:{series.color};padding:0"></td>' + '<td style="padding:0"><b>{point.y:1f} Medicamentos solicitados</b></td></tr>',
					'series': [{'colorByPoint': true, name:' ', 'data': columnChart.cantidades }]
				},
				settingsPieChart = {
					'pointFormat': '<b>{point.percentage:.2f}%</b>',
					'series': [{'colorByPoint': true, 'data': pieChart}]
				};

			if(columnChart.laboratorios.length > 0 && pieChart.length > 0) {
				// COLUMN CHART
				charts.initColumnChart("#column-chart", settingsColumnChart);
				// PIE CHART
				charts.initPieChart("#pie-chart", settingsPieChart);
			} else {
				$("#charts").addClass("hidden");
				$("#sin-resultados").closest(".row").removeClass("hidden");
				$(".download-excel").addClass("hidden");
			}
		})();
	</script>
{% endblock %}