{% extends "base-ADD-UPDATE.html" %}

{% block title %}Actualizar Clinica{% endblock %}


					{% block panel-heading-add %}

                        <h3 class="panel-title">Modificacion de Clinica</h3>

                    {% endblock %}

                    {% block url-form-action %} {% url 'clinica_update' id %}  {% endblock %}

                    {% block boton-form %}

                        <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>

                    {% endblock%}

					<!--{% block url-previous %} {% url 'clinicas' %} {% endblock %}-->
