{% extends "base-medicamentos.html" %}
{% load staticfiles %}

{% block title %}
	<title>Clínicas</title>
{% endblock %}

{% block panel-title-organizacion %}
    <h3 class="panel-title">Clínicas</h3>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Razón Social </th>
            <th>Cuit</th>
            <th>Localidad</th>
            <th>Dirección</th>           
            <th>Obra Social</th>
            <th>Teléfono</th>
            <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for clinica in clinicas %}

                <tr class="clickeable" data-id="{{ clinica.id }}">
                <td>{{clinica.razonSocial}}</td>
                <td>{{clinica.cuit}}</td>
                <td>{{clinica.localidad}}</td>
                <td>{{clinica.direccion}}</td>               
                <td>{{clinica.obraSocial}}</td>
                <td>{{clinica.telefono}}</td>
                <td>{{clinica.email}}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal-alta-title %}
    <h4 class="modal-title" id="myModalLabel">Agregar Clínica</h4>
{% endblock %}

{% block modal-alta-body %}
    <form action="{% url 'clinica_add' %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="razon">Razon Social:</label>
            <div class="col-sm-7">
                <input class="form-control" id="razon" type="text" name="razonSocial" placeholder="Razón Social" autofocus required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="cuit">Cuit:</label>
            <div class="col-sm-7">
                <input class="form-control"id="cuit" type="text" name="cuit" placeholder="Cuit" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="direccion">Dirección:</label>
            <div class="col-sm-7">
                <input class="form-control"id="direccion" type="text" name="direccion" placeholder="Dirección" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="localidad">Localidad:</label>
            <div class="col-sm-7">
                <input class="form-control"id="localidad "type="text" name="localidad" placeholder="Localidad" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="obraSocial">Obra Social:</label>
            <div class="col-sm-7">
                <input class="form-control"id="obraSocial" type="text" name="obraSocial" placeholder="Obra Social" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="telefono">Teléfono:</label>
            <div class="col-sm-7">
                <input class="form-control"id="tel" type="tel" name="telefono" placeholder="Teléfono" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-1 col-sm-2" for="email">Email:</label>
            <div class="col-sm-7">
                <input class="form-control" id="email" type="email" name="mail" placeholder="Email" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Clínica </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> La clínica seleccionada se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    $("#baja").click(function(e) {
        bajaOrganizacion("/clinicas/delete/", id)
    });
{% endblock %}