{% extends "base-organizaciones.html" %}
{% load staticfiles %}

{% block title %}
	<title>Farmacias</title>
{% endblock %}

{% block panel-title-organizacion %}
    <h3 class="panel-title">Farmacias</h3>
{% endblock %}

{% block add-button %}
    <button class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#add-farmacia"><span class="glyphicon glyphicon-plus"></span>  Alta</button>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Razón Social </th>
            <th>Dirección</th>
            <th>Mail</th>
            <th>Localidad</th>
            <th>Nombre Encargado</th>
            <th>Teléfono</th>
            <th>Cuit</th>
            </tr>
        </thead>
        <tbody>
            {% for farmacia in farmacias %}

                <tr class="clickeable" data-id="{{ farmacias.id }}">
                <td>{{farmacia.razonSocial}}</td>
                <td>{{farmacia.direccion}}</td>
                <td>{{farmacia.mail}}</td>
                <td>{{farmacia.localidad}}</td>
                <td>{{farmacia.nombreEncargado}}</td>
                <td>{{farmacia.telefono}}</td>
                <td>{{farmacia.cuit}}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}

