{% extends "base-ABM.html" %}
{% load staticfiles %}

{% block title %}
	<title>Laboratorios</title>
{% endblock %}

{% block panel-title-ABM %}
    <h3 class="panel-title">Laboratorios</h3>
{% endblock %}


{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Razón Social </th>
            <th>Cuit</th>
            <th>Localidad</th>
            <th>Dirección</th>            
            <th>Teléfono</th>
            <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for laboratorio in laboratorios %}

                <tr class="clickeable" data-id="{{ laboratorio.id }}">
                <td>{{laboratorio.razonSocial}}</td>
                <td>{{laboratorio.cuit}}</td>
                <td>{{laboratorio.localidad}}</td>
                <td>{{laboratorio.direccion}}</td>                
                <td>{{laboratorio.telefono}}</td>
                <td>{{laboratorio.email}}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block url-add %}{% url 'laboratorio_add' %}{% endblock %}

{% block filtro %}

 <label for="razonSocial" >Buscar:</label>
 <input class="filtro" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder=" Razon Social">

{% endblock %}


{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Laboratorio </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> El laboratorio seleccionada se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){
            $("#baja").click(function(e) {
                var id = get_selected_row();
                if(id){
                   bajaOrganizacion("/laboratorios/delete/", id);
                }
                
            });

            $("#modificar").click(function(e){
                var id = get_selected_row();
                if(id){
                    var url = "/laboratorios/update/" + id +"/";
                    $(this).attr("href", url);
                }
            });

        });
    </script>
{% endblock %}