{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}
	Clínicas
{% endblock %}

{% block more-crumbs %}
    <li class="active">Clinicas</li>
{% endblock %}

{% block panel-title-ABM %}
    Clínicas
{% endblock %}

{%block filtro %}
    <label>Buscar:</label>
    <input class="filtro" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder=" Razon Social" >
    <input class="filtro" id="localidad" name="localidad" value="{{filtros.localidad}}" placeholder="Localidad" >
    <input class="filtro" id="obra-social" name="obraSocial" value="{{filtros.obraSocial}}" placeholder="Obra Social" type="text">
    <button class="btn btn-danger btn-sm" type="submit" value="Filtrar" id="btn-filtrar">Filtrar</button>
    <button class="btn btn-primary btn-sm" type="button"  id="btn-limpiar">Limpiar</button>
{% endblock %}
{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Razón social </th>
                <th>CUIT</th>
                <th>Localidad</th>
                <th>Dirección</th>
                <th>Obra social</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for clinica in clinicas %}
                <tr class="clickeable" data-id="{{ clinica.id }}">
                    <td>{{clinica.razonSocial}}</td>
                    <td>{{clinica.cuit}}</td>
                    <td>{{clinica.localidad}}</td>
                    <td>{{clinica.direccion}}</td>
                    <td>{{clinica.obraSocial}}</td>
                    <td>{{clinica.telefono}}</td>
                    <td>{{clinica.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block url-add %}{% url 'clinica_add' %}{% endblock %}

{% block cantidad-elementos %}
    {{ clinicas|length }}
    {% if clinicas|length != 1 %}
        clinicas
    {% else %}
        clinica
    {% endif %}
{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Clínica</h4>
{% endblock %}

{% block modal-baja-texto %}
    <p>La clínica seleccionada se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    <script>
        $("#baja").on("click", function(e) {
            var id = get_selected_row();
            if(id){
               crear_baja("/clinicas/delete/", id);
            }
            e.stopPropagation();
        });

        $("#modificar").on("click", function(e){
            var id = get_selected_row();
            if(id){
                var url = "/clinicas/update/" + id +"/";
                $(this).attr("href", url);
            }
            e.stopPropagation();
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                url = "{% static 'documentacion/build/html/clinicas.html' %}"
                window.open(url);
            }
        });
    </script>
{% endblock %}