{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Clínicas {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Clínicas</li>
{% endblock %}

{% block header-title %} Clínicas {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder="Razon Social" type="text" />
{% endblock %}

{% block form-fields-avanzados %} 
    <input class="form-control form-field" id="localidad" name="localidad" value="{{filtros.localidad}}" placeholder="Localidad" type="text" />
    <input class="form-control form-field" id="obra-social" name="obraSocial" value="{{filtros.obraSocial}}" placeholder="Obra Social" type="text" />
{% endblock %}

{% block botones-header-tabla %} 
    {% if perms.usuarios.encargado_general %}
        <a class="btn-alta" href="{% url 'clinica_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
    {% endif %}
{% endblock %}

{% block tabla %}
     <thead>
        <tr>
            <th>Razón Social </th>
            <th>Localidad</th> 
            <th>Dirección</th>
            {% if perms.usuarios.encargado_general %}
            <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for clinica in clinicas %}
            <tr class="clickeable" data-id="{{ clinica.id }}">
                <td>{{clinica.razonSocial}}</td>
                <td>{{clinica.localidad}}</td>
                <td>{{clinica.direccion}}</td>
                {% if perms.usuarios.encargado_general %}
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link ver-obras-sociales" href="#" data-id="{{ clinica.pk }}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Ver Obras Sociales
                                </a>
                            </li>
                            <li>
                                <a class="action-link" href="{% url 'clinica_update' clinica.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Modificar
                                </a>
                            </li>
                            <li>
                                <a class="action-link btn-eliminar" href="#" data-url="{% url 'clinica_delete' clinica.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %}
   Eliminar Clínica
{% endblock %}

{% block modal-eliminar-mensaje %}
    La clínica seleccionada se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block more-content %}
    <div class="modal fade" id="modal-ver-obras" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Obras Sociales</h4>
                </div>
                <div class="modal-body">
                   <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/clinicas.html' %}");
            }
        });

        var obrasSociales = {
            {% for clinica in clinicas %}
                {{ clinica.pk }}: "{{ clinica.obraSocial }}",
            {% endfor %}
        };

        $(".ver-obras-sociales").on('click',function(){
            var tabla = $("#modal-ver-obras").find("tbody");
            tabla.empty();
            var idClinica = $(this).data("id");
            var obras = obrasSociales[idClinica].split(",");
            obras.forEach(function(val){
                tabla.append('<tr><td>'+val+'</td></tr>');
            });
            $("#modal-ver-obras").modal("show");
        });
    </script>
{% endblock %}