{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}Modificar Clínica{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'clinicas' %}">Clínicas</a></li>
    <li class="active">Modificar</li>
{% endblock %}

{% block url-volver %}{% url 'clinicas' %}{% endblock %}

{% block header-title %} Modificar Clínica {% endblock %}

{% block title-header-form %}Actualizar <span class="element-update">"{{clinica}}"</span>{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-edit page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Actualice los datos deseados{% endblock %}

{% block no-msg-success %} {% endblock %}

{% block more-scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('#id_obraSocial').selectize({
            plugins: ['remove_button'],
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            create: true,
            dropdownParent: 'body',
            maxItems: 200
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/clinicas.html' %}";
                url += "#modificar-clinica";
                window.open(url);
            }
        });
    </script>
{% endblock %}