{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}Alta de Clínica{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
    <li class="active">Alta</li>
{% endblock %}

{% block url-volver %}{% url 'clinicas' %}{% endblock %}

{% block header-title %} Alta de Clínica {% endblock %}

{% block title-header-form %}Agregar nueva clínica{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-plus page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Complete los siguientes campos{% endblock %}

{% block msg-success %}
    La clínica fue agregada exitosamente al sistema.
{% endblock %}

{% block more-scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        var unique = $('#id_obraSocial').selectize({
            plugins: ['remove_button'],
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            create: true,
            createOnBlur: true,
            maxItems: 200,
            highlight: false,
            persist: false
        })[0].selectize;

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/clinicas.html' %}";
                url += "#alta-clinica";
                window.open(url);
            }
        });
    </script>
{% endblock %}