{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Alta de Clinica{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
    <li class="active">Alta de clinica</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Alta de Clinica</h3>
{% endblock %}

{% block url-form-action %}{% url 'clinica_add' %}{% endblock %}

{% block url-previous %}{% url 'clinicas' %}{% endblock %}

{% block more-scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/clinicas.html' %}";
                url += "#alta-de-clinica";
                window.open(url);
            }
        });

        $('select').selectize({
            plugins: ['remove_button'],
            persist: false,
            render: {
                item: function(data, escape) {
                    return '<div>"' + escape(data.text) + '"</div>';
                }
            }
        });
    </script>
{% endblock %}