{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block title %}Alta de Clínica{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
    <li class="active">Alta</li>
{% endblock %}

{% block url-volver %}{% url 'clinicas' %}{% endblock %}

{% block header-title %} Alta de Clínica {% endblock %}

{% block title-header-form %}Agregar nueva clínica{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-plus page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Complete los siguientes campos{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/clinicas.html' %}";
                url += "#alta-de-clinica";
                window.open(url);
            }
        });
    </script>
{% endblock %}