{% extends "base-pedidos.html" %}
{% load staticfiles bootstrap3 %}
{% load staticfiles bootstrap_dynamic_formsets %}

{% block title %}
	<title>Pedido a Laboratorio</title>
{% endblock %}


{% block panel-title-ABM%}
    <h3 class="panel-title">Pedido a Laboratorio</h3>
{% endblock %}


{% block filtro %}

{% endblock %}

{% block content %}
    <div style="margin: 30px 20px 90px 20px;">
        <div class="container">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Crear nuevo pedido a Laboratorio</h3>
                    </div>
                    <div class="panel-body">
                        {{ pedidoALaboratorio_form.errors }}
                        {{ pedidoALaboratorio_form.non_field_errors }}


                            <form class ="form-horizontal col-xs-12" method="post">

                            {% csrf_token %}

                            {% bootstrap_form pedidoALaboratorio_form layout='horizontal'%}

                            <div class="pull-right" style="margin-bottom: -10px;">
                                <button type="submit" id="btn-guardar-continuar" class="btn btn-success pull-right" style="margin-left:10px;" value="_continuar" name="_continuar">
	                        		{% bootstrap_icon "ok" %} Crear Pedido
	                        	</button>
								<div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



