{% extends "base.html" %}

{% block stylesheets %}
    <style>
        .wrapper{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block title %}Despachar pedido{% endblock %}

{% block content %}
    <div class="container wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Remito</h3>
            </div>
            <form action="{% url 'despachar_pedidoF' id_pedido %}" method="POST">{% csrf_token %}
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medicamento</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{detalle.medicamento}}</td>
                                    <td>{{detalle.cantidad}}</td>
                                    <td>
                                        <input class="cb" type="checkbox" name="noseleccionado" value="{{detalle.id}}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success pull-right" type="submit">Crear Remito</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    (function(){

        $(".cb").click(function(e){
           cb = $(this);
            cb.attr("name", "seleccionado");
            console.log("aasdasd");
            if (this.checked){
                cb.attr("name", "seleccionado");
                console.log("a");
            }else{
                cb.attr("name", "noseleccionado");
                console.log("b");
            }
        });

    })();
</script>
{% endblock %}