{% extends "base-presentacion-pedido.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Pedido de Farmacia{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'pedidosDeFarmacia' %}">Pedidos de farmacia</a></li>
    <li class="active">Detalles de pedido de farmacia</li>
{% endblock %}

{% block panel-heading-right %}
    <div class="btn-group btn-group-xs">
        <a id="btn-add-detalle" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
        <a id="btn-update-detalle" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></a>
        <a id="btn-delete-detalle" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></a>
    </div>
{% endblock %}

{% block tipo-pedido %}Pedido de Farmacia{% endblock %}

{% block nombre-organizacion %} {{ pedido.farmacia.razonSocial }} {% endblock %}

{% block fecha-pedido %} {{ pedido.fecha }} {% endblock %}

{% block nro-pedido %} {{ pedido.nroPedido }} {% endblock %}

{% block grid %}
    <table class="table table-condensed table-responsive" >
        <thead>
            <tr class="info" align="center">
                <th>Medicamento</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                <tr class="clickeable" data-id="{{ detalle.renglon }}">
                    <td>{{ detalle.medicamento.descripcion }}</td>
                    <td>{{ detalle.cantidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block url-remito %}"/pedidosDeFarmacia/remitoDeFarmacia/"+data['nroRemito']+"/"{% endblock %}

{% block panel-footer %}
    <div class="panel-footer">
        <div class="pull-right">
            <button id="btn-registrar" class="btn btn-primary" type="submit">Registrar</button>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        (function(){
            $('#modal-registrar-pedido').on('hidden.bs.modal', function(e){
                window.location = "{% url 'pedidosDeFarmacia' %}";
                e.stopPropagation();
            })

            /****************************** Botones Alta Detalle ***************************************/

            $("#btn-add-detalle").on("click", function(e){
                add_detalle_ajax("{% url 'detallePedidoDeFarmacia_add' %}");
                e.stopPropagation();
            });

            $("#btn-save-detalle").on("click", function(e){
                save_detalle_ajax("{% url 'detallePedidoDeFarmacia_add' %}");
                e.stopPropagation()
            });

            /****************************** Botones Modificacion Detalle ***************************************/
            var id;

            $("#btn-update-detalle").on("click", function(e){
                id = get_selected_row();
                if(id){
                    update_detalle_ajax("/pedidosDeFarmacia/add/detalles/update/" + id + "/");
                }
                e.stopPropagation();
            });

            $("#btn-save-update-detalle").on("click", function(e){
                if(id){
                    save_update_ajax("/pedidosDeFarmacia/add/detalles/update/" + id + "/");
                }
                e.stopPropagation();
            });

            /****************************** Boton Baja Detalle ***************************************/

            $("#btn-delete-detalle").on("click", function(e){
                var id = get_selected_row();
                if(id){
                    $("#modal-delete-detalle").modal('show');
                }
                e.stopPropagation();
            });

            $("#btn-confirmar-baja-detalle").on("click", function(e){
                var id = get_selected_row();
                if(id){
                    delete_detalle_ajax("/pedidosDeFarmacia/add/detalles/delete/" + id + "/");
                    $("#modal-delete-detalle").modal('hide');
                }
                e.stopPropagation();
            });

            /****************************** Boton Registrar Pedido ***************************************/

            $("#btn-registrar").on("click", function(e){
                registrar_pedido_ajax("{% url 'pedidoDeFarmacia_registrar' %}");
                e.stopPropagation();
            });

        })();
    </script>
    
{% endblock %}
