{% extends "base/base-add-update.html" %}

{% block title %}Actualizar Detalle{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Modificacion del Detalle</h3>
{% endblock %}

{% block url-form-action %}{% url 'detallePedidoDeFarmacia_update' id_pedido id_detalle %}{% endblock %}

{% block boton-form %}
    <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
{% endblock%}

{% block more-scripts %}
    <script>
        (function(){
            $("#btn-guardar").on("click", function(e){
                $("select").attr('disabled', false);
                e.stopPropagation();
            });
        })();
    </script>
{% endblock%}