{% extends "base-add-pedido.html" %}
{% load staticfiles %}

{% block more-stylesheets %}
     <link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css'  %}">
    {{ form.media.css }}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block title %}
	Alta de Pedido De Farmacia
{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'pedidosDeFarmacia' %}">Pedidos de farmacia</a></li>
    <li class="active">Alta de pedido de farmacia</li>
{% endblock %}

{% block panel-title-pedido %}
	Pedido de Farmacia
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    {{ form.media.js }}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/pedidosfarmacia.html' %}";
                url += "#alta-de-pedido";
                window.open(url);
            }
        });
    </script>
{% endblock %}
