{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}
	Nombres Fantasia
{% endblock %}

{% block more-crumbs %}
    <li class="active">Nombres fantasia</li>
{% endblock %}

{% block panel-title-ABM %}
    Nombres Fantasia
{% endblock %}

{% block add-button %}
    <button class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#add-nombreFantasia"><span class="glyphicon glyphicon-plus"></span>  Alta</button>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Nombre Fantasia </th>
            </tr>
        </thead>
        <tbody>
            {% for nombreFantasia in nombresFantasia %}
                <tr class="clickeable" data-id="{{ nombreFantasia.id }}">
                    <td>{{nombreFantasia.nombreF}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block cantidad-elementos %}
    {{ nombresFantasia|length }}
    {% if nombresFantasia|length != 1 %}
        nombres fantasia
    {% else %}
        nombre fantasia
    {% endif %}
{% endblock %}

{% block url-add %}{% url 'nombreFantasia_add' %}{% endblock %}

{% block filtro %}

 <label for="nombre" >Buscar:</label>
 <input class="filtro" id="nombre" name="nombre" value="{{filtros.nombreF}}" placeholder=" Nombre" autofocus>

{% endblock %}

{% block modal-baja-title %}
    <h4 class="modal-title">Eliminar Nombre Fantasia </h4>
{% endblock %}

{% block modal-baja-texto %}
    <p> El nombre fantasia seleccionado se eliminara permanentemente ¿Esta seguro?</p>
{% endblock %}

{% block more-scripts %}
    <script>
        $("#baja").on("click", function(e) {
            var id = get_selected_row();
            if(id){
               crear_baja("/nombresFantasia/delete/", id);
            }
            e.stopPropagation();
        });

        $("#modificar").on("click", function(e){
            var id = get_selected_row();
            if(id){
                var url="/nombresFantasia/update/" + id +"/";
                $(this).attr("href", url);

            }
            e.stopPropagation();
        });

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                url = "{% static 'documentacion/build/html/nombresfantasia.html' %}"
                window.open(url);
            }
        });
    </script>
{% endblock %}
