{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Nombres Fantasia {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Nombres Fantasia</li>
{% endblock %}

{% block header-title %} Nombres Fantasia {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="nombreF" name="nombreF" value="{{filtros.nombreF}}" placeholder="Nombre" type="text" autofocus>
{% endblock %}

{% block form-sin-busqueda-avanzada %}{% endblock %}

{% block botones-header-tabla %} 
    {% if perms.usuarios.encargado_general %}
        <a class="btn-alta" href="{% url 'nombreFantasia_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nombre Fantasia </th>
            {% if perms.usuarios.encargado_general %}
                <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for nombreFantasia in nombresFantasia %}
            <tr class="clickeable" data-id="{{ nombreFantasia.id }}">
                <td>{{nombreFantasia.nombreF}}</td>
                {% if perms.usuarios.encargado_general %}
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link" href="{% url 'nombreFantasia_update' nombreFantasia.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Modificar
                                </a>
                            </li>
                            <li>
                                <a class="action-link btn-eliminar-ajax" href="#" data-url="{% url 'nombreFantasia_delete' nombreFantasia.pk %}" data-url-ajax="{% url 'nombreFantasia_try_delete' nombreFantasia.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %} Eliminar Nombre Fantasia {% endblock %}

{% block modal-eliminar-mensaje %}
    El nombre fantasia seleccionado se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block mensaje-fallo-eliminacion %}Este nombre fantasía no puede ser eliminado por las siguientes razones:{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/nombresfantasia.html' %}");
            }
        });
    </script>
{% endblock %}