{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
	<link  href="{% static 'css/altafarmacia.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}
<title>Alta de Farmacia</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=inicio>
        <img alt="Brand" src="{% static 'images/logopequeno.png'%}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Registrar Pedido de Farmacia</a></li>
            <li><a href="#">Registrar Pedido de Clinica</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Realizar Pedido a Laboratorio</a></li>
            <li><a href="#">Registrar Recepcion de pedido de Laboratorio</a></li>
          </ul>
        </li>
      </ul>
      <!---
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      --->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizaciones <span class="caret"></span></a>
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a href="#">Farmacias</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dar de alta una Farmacia</a></li>
                  <li><a href="#">Eliminar/Modificar Farmacia</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Clínicas</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dar de alta una Clínica</a></li>
                  <li><a href="#">Eliminar/Modificar Clínica</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Obras Sociales</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dar de alta una Obra Social</a></li>
                  <li><a href="#">Eliminar/Modificar Obra Social</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Laboratorios</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dar de alta un laboratorio</a></li>
                  <li><a href="#">Eliminar/Modificar Laboratorio</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li liass="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicamentos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dar de alta un Medicamento</a></li>
            <li><a href="#">Modificar el Stock Minimo o el Precio de un medicamento</a></li>
            <li><a href="#">Dar de baja un medicamento </a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<hr>
{% endblock %}

{% block content %}
<div class="container">
		<div class="page-header hidden-xs">
			<h1>Alta de Farmacia</h1>
		</div>
		<div class="visible-xs header-xs">
			<h2 class="">Alta de Farmacia</h2>
			<hr>
		</div>
</div>

<div class="container">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="razon">Razon Social:</label>
			<div class="col-sm-7">
				<input class="form-control" id="razon" type="text" name="razon" placeholder="Razón Social" autofocus required />
			</div>		
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="cuit">Cuit:</label>
			<div class="col-sm-7">
				<input class="form-control"id="cuit" type="text" name="cuit" placeholder="Cuit" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="direccion">Dirección:</label>
			<div class="col-sm-7">
				<input class="form-control"id="direccion" type="text" name="direccion" placeholder="Dirección" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="localidad">Localidad:</label>
			<div class="col-sm-7">	
				<input class="form-control"id="localidad "type="text" name="localidad" placeholder="Localidad" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="encargado">Encargado:</label>
			<div class="col-sm-7">
				<input class="form-control"id="encargado" type="text" name="encargado" placeholder="Nombre del encargado" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="telefono">Teléfono:</label>
			<div class="col-sm-7">	
				<input class="form-control"id="tel" type="tel" name="tel" placeholder="Teléfono" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="email">Email:</label>
			<div class="col-sm-7">
				<input class="form-control" id="email" type="email" name="email" placeholder="Email" />
			</div>
		</div>

		<div class="form-group">
			<div class="">
				<button class="btn btn-warning col-xs-offset-1 col-xs-4  col-sm-offset-4 col-sm-2" type="reset"><span class="gliphicon glyphicon glyphicon-refresh"></span> Limpiar</button>

				<button class="btn btn-primary col-xs-offset-1 col-xs-5 col-sm-2" type="submit"><span class="gliphicon glyphicon glyphicon-ok"></span> Confirmar</button>
			</div>				
		</div>	
	</form>
</div>
{% endblock %}

{% block footer %}
<footer class="navbar navbar-default navbar-fixed-bottom hidden-xs color-1">
	<div class="container">	
		<div class="row">
			<div class="col-sm-offset-4 col-sm-6">
					<span class="navbar-text"><span class=" glyphicon glyphicon-copyright-mark"></span> Copyrigth 2015 UNPSJB - Todos los derechos reservados.</span>
			</div>
		</div>			
	</div>
</footer>
{% endblock %}
