{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>Alta de Medicamento</title>
{% endblock %}


{% block content %}

<div class="container">
		<div class="page-header hidden-xs">
			<h1>Alta de Medicamento</h1>
		</div>
		<div class="visible-xs header-xs">
			<h2 class="">Alta de Medicamento</h2>
			<hr>
		</div>
</div>

<div class="container">
	<form class="form-horizontal">

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="codigo">Codigo de barras:</label>
			<div class="col-sm-7">
				<input class="form-control" id="razon" type="text" name="codigo" placeholder="Codigo de barras" autofocus required />
			</div>		
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="stock">Stock Minimo:</label>
			<div class="col-sm-7">
				<input class="form-control"id="stock" type="text" name="stock" placeholder="Stock Minimo" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="precio">Precio:</label>
			<div class="col-sm-7">
				<input class="form-control"id="precio" type="text" name="precio" placeholder="Precio" required />
			</div>
		</div>

		<div class="form-group">
        <label class="col-xs-3 control-label">Monodroga: </label>
         <div class="form-group">
            <div class="col-xs-4 col-xs-offset-1">
                <button type="submit" class="btn btn-default" href="{% url 'monodrogas' %}">Agregar Monodroga</button>
            </div>
        </div>
    	</div>


		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="encargado">Encargado:</label>
			<div class="col-sm-7">
				<input class="form-control"id="encargado" type="text" name="encargado" placeholder="Nombre del encargado" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="telefono">Teléfono:</label>
			<div class="col-sm-7">	
				<input class="form-control"id="tel" type="tel" name="tel" placeholder="Teléfono" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2" for="email">Email:</label>
			<div class="col-sm-7">
				<input class="form-control" id="email" type="email" name="email" placeholder="Email" />
			</div>
		</div>

		<div class="form-group">
			<div class="">
				<button class="btn btn-warning col-xs-offset-1 col-xs-4  col-sm-offset-4 col-sm-2" type="reset"><span class="gliphicon glyphicon glyphicon-refresh"></span> Limpiar</button>

				<button class="btn btn-primary col-xs-offset-1 col-xs-5 col-sm-2" type="submit"><span class="gliphicon glyphicon glyphicon-ok"></span> Confirmar</button>
			</div>				
		</div>

	</form>
</div>

{% endblock %}

