{% load staticfiles %}
{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/base.css' %}">

    {% block stylesheets %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
    <div class="container-fluid contenedor-principal">
        {% bootstrap_messages %}

        {% include 'nav.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block scripts %}{% endblock %}
    </div>
</body>
</html>