{% extends "base/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/base-abm.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% block breadcrumbs %}
        <ol id="breadcrumb-page" class="breadcrumb _breadcrumb_">
           <li><a href="{% url 'inicio' %}">Inicio</a></li>
           {% block more-crumbs %}{% endblock %}
        </ol>
    {% endblock %}
    <div class="container-fluid panel-grid">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-left">
                        {% block panel-title-ABM %}
                        {% endblock %}
                    </div>
                    <div class="btn-group btn-group-xs pull-right">
                        {% block botonAlta%}
                            <a class="btn btn-success" href="{% block url-add %} {% endblock %}" id="alta"><span class="glyphicon glyphicon-plus"></span>  Alta</a>
                        {%endblock%}
                        {%block botonVer%}
                            <a class="btn btn-warning hidden" id="modificar"><span class="glyphicon glyphicon-pencil"></span>  Ver</a>
                        {%endblock%}
                        {% block botonBaja%}
                            <a class="btn btn-danger hidden" id="baja"><span class="glyphicon glyphicon-minus"></span>  Baja</a>
                        {%endblock%}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <form method="GET" class="form-inline pull-right">
                        <div class="form-group">
                            {%block filtro %} {% endblock %}
                        </div>
                    </form>
                    {% block grid %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block modal-baja %}
    <div class="modal fade" id="modal-baja" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% block modal-baja-title %}{% endblock %}
                </div>
                <div class="modal-body">
                    {% block modal-baja-texto %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary confirmar">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
    $(function() {
        $(".filtro").change(function(e) {
            $(this).closest("form").submit();
        });

        $(".clickeable").click(function(e) {
            select_row_table(this);
            ocultarElementos(["#modificar", "#baja"], false);
            e.stopPropagation();
        });
        
        $("#alta").click(function(e){
            e.stopPropagation();
        });

        function limpiar(e) {
            $("tr").removeClass("active");
            ocultarElementos(["#modificar", "#baja"], true);
            id = null;
        }

        $(document).keyup(function(e){
            if(e.keyCode == 27){
                limpiar();
            }
        });

        $(document).on("click", limpiar);
    });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}

