{% load staticfiles bootstrap3 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
     {% block stylesheets %}{% endblock %}
     {% block title %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block navbar %}{% endblock %}
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</div>
</body>
</html>