{% extends "base-pedidos.html" %}

{% block title %}Devolución de Medicamentos Vencidos{% endblock %}

{% block panel-title-pedido %} <h3 class="panel-title">Devolución de Medicamentos vencidos</h3> {% endblock %}

{% block form-pedido %}
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-12 col-md-2" for="inputLaboratorio">Laboratorio:</label>
			<div class="col-xs-12 col-md-10">
				<input type="text" class="form-control" name="inputLaboratorio" placeholder="Nombre del Laboratorio" autofocus required />
			</div>
		</div>
	</form>
{% endblock %}

{% block panel-body-detalles %}
	<table class="table table-hover table-responsive">
		<thead>
			<tr class="info">
				<th>Medicamento</th>
				<th>Cantidad Devuelta</th>
				<th>Lote</th>
			</tr>
		</thead>
		<tbody>
			<tr class="clickeable">
				<td>Medicamento #1</td>
				<td>Cantidad Devuelta #1</td>
				<td>Lote #1</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block modal-body-add-detalle %}
	<form class="form-horizontal">
	    <div class="form-group">
	        <label class="control-label col-md-3" for="inputMedicamento " >Medicamento:</label>
	        <div class="col-md-9">
	            <input class="form-control" name="inputMedicamento" type="text" placeholder="Código de barras del medicamento" autofocus required />
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-md-3" for="inputCantidadDevuelta">Cantidad Devuelta:</label>
	        <div class="col-md-9">
	            <input class="form-control" name="inputCantidadDevuelta" type="text" placeholder="Cantidad Devuelta" required />
	        </div>
	    </div>
		<div class="form-group">
		    <label class="control-label col-md-3" for="inputLote">Lote:</label>
		    <div class="col-md-9">
		        <input class="form-control" name="inputLote" type="text" placeholder="Lote" required />
		    </div>
		</div>
	</form>
{% endblock %}

