{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{% url 'inicio' %}">
        <img alt="Brand" src="{% static 'images/logopequeno.png'%}">
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if perms.pedidos.add_pedidodefarmacia %}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'pedidosDeFarmacia' %}">Pedidos de Farmacia</a></li>
            <li><a href="{% url 'pedidosDeClinica' %}">Pedidos de Clinica</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'pedidoALaboratorio' %}">Realizar Pedido a Laboratorio</a></li>
            <li><a href="{% url 'recepcionPedidoDeLaboratorio' %}">Registrar Recepcion de Pedido de Laboratorio</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'devolucionMedicamentosVencidos' %}">Registrar Devolución de Medicamentos Vencidos</a></li>
            <li><a href="{% url 'recepcionReemplazoMedicamentos' %}">Registrar Recepción de Medicamentos para Reemplazar Vencidos</a></li>
          </ul>
        </li>
          {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizaciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'farmacias' %}">Farmacias</a></li>
            <li><a href="{% url 'laboratorios' %}">Laboratorios</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'paginaEnConstruccion' %}">Obras Sociales</a></li>
            <li><a href="{% url 'clinicas' %}">Clinicas</a></li>
          </ul>

          {% if perms.medicamentos.add_medicamento %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicamentos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'medicamentos' %}">Medicamentos </a></li>
            <li><a href="{% url 'monodrogas' %}">Monodrogas</a></li>
            <li><a href="{% url 'presentacion' %}">Presentaciones</a></li>
            <li><a href="{% url 'nombresFantasia' %}">Nombres Fantasia </a></li>
          </ul>
        </li>
          {% endif %}

        <li><a href="{% url 'logout' %}" class="navbar-link">Salir</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<hr>
