{% extends "base-pedidos.html" %}
{% load staticfiles %}

{% block title %}
	<title>Pedido De Clinica</title>
{% endblock %}

{% block panel-title-pedido %}
	<h3 class="panel-title">Pedido de Clinica</h3> 
{% endblock %}

{% block form-pedido %}
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-12 col-md-2" for="inputClinica">Clínica:</label>
			<div class="col-xs-12 col-md-10">
				<input class="form-control" id="inputClinica" type="text" placeholder="Nombre de la Clínica" autofocus required />
			</div>
		</div> <!-- end form-group -->

		<div class="form-group">
			<label class="control-label col-xs-12 col-md-2" for="inputMedico">Médico :</label>
			<div class="col-xs-12 col-md-10">
				<input class="form-control" id="inputMedico" type="text" placeholder="Nombre del Médico Auditor" autofocus />
			</div>
		</div> <!-- end form-group -->

		<div class="form-group">
			<label class="control-label col-xs-12 col-md-2" for="inputObraSocial">Obra Social:</label>
			<div class="col-xs-12 col-md-10">
				<input class="form-control" id="inputObraSocial" type="text" placeholder="Nombre de la Obra Social" autofocus />
			</div>
		</div> <!-- end form-group -->

	</form> <!-- end form -->
{% endblock %}				
						

