{% extends "base/base-abm.html" %}
{% load staticfiles %}

{% block title %}Recepción de medicamentos para reemplazar por vencidos{% endblock %}

{% block panel-title-ABM %}
	<h3 class="panel-title">Recepción de medicamentos para reemplazar por vencidos</h3> 
{% endblock %}

{% block btn-modificar %}{% endblock %}

{% block form-pedido %}
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-12 col-md-3" for="inputLaboratorio">Laboratorio:</label>
			<div class="col-xs-12 col-md-9">
				<input type="text" class="form-control" name="inputLaboratorio" placeholder="Nombre del Laboratorio" autofocus required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-12 col-md-3" for="inputNroRemitoMedicamentosVencidos">Nº de remito origen:</label>
			<div class="col-xs-10 col-md-8">
				<input type="text" class="form-control" name="inputNroRemitoMedicamentosVencidos" placeholder="Nº de remito de medicamentos vencidos"required />
			</div>
			<button class="btn btn-info" type="button" data-toggle="modal" data-target="#search-remitos-medicamentos-vencidos"><span class="glyphicon glyphicon-search"></span></button>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-12 col-md-3" for="inputNroRemitoRecibido">Nº de remito recibido:</label>
			<div class="col-xs-12 col-md-9">
				<input type="text" class="form-control" name="inputNroRemitoRecibido" placeholder="Nº de remito recibido" autofocus required />
			</div>
		</div>
	</form>
{% endblock %}

{% block panel-body-detalles %}
	<table class="table table-hover table-responsive">
		<thead>
			<tr class="info">
				<th>Medicamento</th>
				<th>Cantidad Recibida</th>
				<th>Lote</th>
			</tr>
		</thead>
		<tbody>
			<tr class="clickeable">
				<td>Medicamento #1</td>
				<td>Cantidad Recibida #1</td>
				<td>Lote #1</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block modal-body-add-detalle %}
	<form class="form-horizontal">
	    <div class="form-group">
	        <label class="control-label col-md-3" for="inputMedicamento " >Medicamento:</label>
	        <div class="col-md-9">
	            <input class="form-control" name="inputMedicamento" type="text" placeholder="Código de barras del medicamento" autofocus required />
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-md-3" for="inputCantidadRecibida">Cantidad Recibida:</label>
	        <div class="col-md-9">
	            <input class="form-control" name="inputCantidadRecibida" type="text" placeholder="Cantidad Recibida" required />
	        </div>
	    </div>
		<div class="form-group">
		    <label class="control-label col-md-3" for="inputLote">Lote:</label>
		    <div class="col-md-9">
		        <input class="form-control" name="inputLote" type="text" placeholder="Lote" required />
		    </div>
		</div>
	</form>
{% endblock %}


{% block more-modals %}
	<!-- Modal search-remitos-medicamentos-vencidos -->
		<div class="modal fade" id="search-remitos-medicamentos-vencidos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Remitos de medicamentos vencidos
						pendientes del laboratorio</h4>
		      		</div>
		      		<div class="modal-body">
		      			<table class="table table-responsive table-hover">
		      				<thead>
		      					<tr class="info">
		      						<th>Nº de RemitoDeFarmacia</th>
		      						<th>Fecha</th>
		      					</tr>
		      				</thead>
		      				<tbody>
		      					<tr class="clickeable">
		      						<td>1234</td>
		      						<td>22-09-2015</td>
		      					</tr>
		      				</tbody>
	      				</table>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        		<button type="submit" class="btn btn-primary">Seleccionar</button>
		      		</div>
		    	</div><!-- modal-content -->
		  	</div><!-- end modal-dialog -->
		</div><!-- end modal ...-->
		<!-- end modal search-pedidos-pendientes-laboratorio -->
{% endblock %}	
						

