{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block title %}Alta de Farmacia{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'farmacias' %}">Farmacias</a></li>
    <li class="active">Alta</li>
{% endblock %}

{% block url-volver %}{% url 'farmacias' %}{% endblock %}

{% block header-title %} Alta de Farmacia {% endblock %}

{% block title-header-form %}Agregar nueva farmacia{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-plus page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}Complete los siguientes campos{% endblock %}

{% block msg-success %}
    La farmacia fue agregada exitosamente al sistema.
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/farmacias.html' %}";
                url += "#alta-farmacia";
                window.open(url);
            }
        });
    </script>
{% endblock %}