{% extends "base/base-add-update.html" %}

{% block title %}Modificacion de Farmacia{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'farmacias' %}">Farmacias</a></li>
    <li class="active">Modificacion de farmacia</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Modificacion de Farmacia</h3>
{% endblock %}

{% block url-form-action %}{% url 'farmacia_update' id %}{% endblock %}

{% block boton-form %}
    <button id="btn-guardar" type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
{% endblock%}

{% block url-previous %}{% url 'farmacias' %}{% endblock %}
