{% load staticfiles bootstrap3 %}
{% load staticfiles bootstrap_dynamic_formsets %}

{% block stylesheets %}

	<meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/custom-theme/jquery-ui-1.10.3.custom.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/base.css'  %}">
    {{ dosis_formset.media.css }}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	{{ dosis_formset.media.js }}
{% endblock %}

{% include 'nav.html' %}

{% block title %}
	<title>Alta de Medicamento</title>
{% endblock %}


{% block content %}

<div class="container">
		<div class="page-header">
			<h1>Alta de Medicamento</h1>
		</div>
	{{ medicamento_form.errors }}
	{{ medicamento_form.non_field_errors }}
	<form class="form-horizontal" method="post">
		{% csrf_token %}
		{% bootstrap_form medicamento_form %}
		<label class="col-xs-3 control-label">Formula</label>
		{{ dosis_form.errors }}
		{{ dosis_form.non_field_errors }}
		{% bootstrap_dynamic_formset dosis_formset can_order=True can_delete=True layout='inline'  %}


		{% buttons %}
			<button type="button" class="btn btn-primary">
				{% bootstrap_icon "refresh" %} Limpiar
			</button>
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "ok" %} Guardar
			</button>
		{% endbuttons %}
	</form>
</div>

{% block scripts %}
t>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


{% endblock %}		
			
{% endblock %}
{% include 'footer.html' %}

