{% extends "base-atributos.html" %}
{% load staticfiles %}

{% block title %}
	<title>Nombre Fantasia</title>
{% endblock %}

{% block panel-title-organizacion %}
    <h3 class="panel-title">Nombres Fantasia</h3>
{% endblock %}

{% block add-button %}
    <button class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#add-nombreFantasia"><span class="glyphicon glyphicon-plus"></span>  Alta</button>
{% endblock %}

{% block grid %}
    <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Nombre Fantasia </th>

            </tr>
        </thead>
        <tbody>
            {% for nombreFantasia in nombresFantasia %}

                <tr class="clickeable" data-id="{{ nombres.id }}">
                <td>{{nombreFantasia.nombre}}</td>

                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
