{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block more-stylesheets %}
    <link rel="stylesheet" href="{%  static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{%  static 'css/selectize.bootstrap3.css' %}">
{% endblock%}

{% block title %}Registrar Usuario{% endblock%}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Alta Usuario</li>
{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block header-title %} Alta de Usuario{% endblock %}

{% block title-header-form %}Agregar nuevo usuario{% endblock %}

{% block icon-header-form %}<span class="icon-user-plus page-header-icon"></span>{% endblock %}

{% block sub-header-form %}Complete los siguientes campos{% endblock %}

{% block no-msg-success %}
{% endblock %}

{% block more-scripts %}
    <script type="text/javascript" src="{%  static 'js/selectize.js' %}"></script>
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/agregarusuario.html' %}");
            }
        });

        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

    </script>
{% endblock %}