{% extends "base/base-add-update.html" %}
{% load staticfiles %}

{% block title %}Alta de Monodroga{% endblock %}

{% block more-crumbs %}
    <li><a href="{% url 'monodrogas' %}">Monodrogas</a></li>
    <li class="active">Alta de monodroga</li>
{% endblock %}

{% block panel-heading-add %}
    <h3 class="panel-title">Alta de Monodroga</h3>
{% endblock %}

{% block url-form-action %}{% url 'monodroga_add' %}{% endblock %}

{% block url-previous %}{% url 'monodrogas' %}{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/monodrogas.html' %}";
                url += "#alta-de-monodroga";
                window.open(url);
            }
        });
    </script>
{% endblock %}