{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Laboratorios {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Laboratorios</li>
{% endblock %}

{% block header-title %} Laboratorios {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder="Razon Social" type="text" />
{% endblock %}

{% block form-fields-avanzados %}
    <input class="form-control form-field" id="localidad" name="localidad" value="{{filtros.localidad}}" placeholder="Localidad" type="text" /> 
{% endblock %}

{% block botones-header-tabla %}
    {% if perms.usuarios.encargado_general %} 
        <a class="btn-alta" href="{% url 'laboratorio_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a>
    {% endif %}
{% endblock %}

{% block tabla %}
     <thead>
        <tr>
            <th>Razón Social </th>
            <th>Localidad</th>
            <th>Dirección</th>            
            <th>Teléfono</th>
            {% if perms.usuarios.encargado_general %}
            <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for laboratorio in laboratorios %}
            <tr class="clickeable" data-id="{{ laboratorio.id }}">
                <td>{{laboratorio.razonSocial}}</td>
                <td>{{laboratorio.localidad}}</td>
                <td>{{laboratorio.direccion}}</td>                
                <td>{{laboratorio.telefono}}</td>
                {% if perms.usuarios.encargado_general %}
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a class="action-link" href="{% url 'laboratorio_update' laboratorio.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Modificar
                                </a>
                            </li>
                            <li>
                                <a class="action-link btn-eliminar-ajax" href="#" data-url="{% url 'laboratorio_delete' laboratorio.pk %}" data-url-ajax="{% url 'laboratorio_try_delete' laboratorio.pk %}">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>

        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %} Eliminar Laboratorio {% endblock %}

{% block modal-eliminar-mensaje %}
    El laboratorio seleccionado se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block mensaje-fallo-eliminacion %}Este laboratorio no puede ser eliminado por las siguientes razones:{% endblock %}

{% block more-scripts %}
    <script>
        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/laboratorios.html' %}");
            }
        });
    </script>
{% endblock %}